@charset "utf-8";
/* Custom-2 Document */
.panel-content {
	float: left;
	margin-top: -26px;
	padding-top: 50px;
	width: 100%;
}
.panel-content .row {
	margin: 0 -7px;
}
.panel-content .row > div {
	padding: 0 7px;
}
.res-move {
	text-transform: capitalize;
}
.bord-bottm {
	border-bottom: none !important;
}


.input-box-width {
	width: 100% !important;
}
.bank-move {
	left: 93%;
}
.move-icon {
	left: 85%;
	top:2px;
}
.move-icon-2 {
	left: 86%;
}
.move-icon1 {
	left: 81%;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .input-bg {
	background:rgba(255, 255, 255, 1) url("../images/small-calendar.png") no-repeat scroll 96% 42% / 8% auto;/*add input background in the calender section*/
	border: 1px solid #d4d4d5;
	border-radius: 3px;
	box-shadow: 0 0 2px #d4d4d5;
}
.widget::before {
	background-color: #ffffff;
	background-image: url("../images/loader.gif");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9;
	-webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	visibility: hidden;
}
.widget {
	background: #ffffff none repeat scroll 0 0;
	float: left;
	margin-top: 14px;
	position: relative;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
/**/
.pie-responsive {
	float: left;
	position: relative;
	width: 100%;
}
.widget-title {
	float: left;
	margin-bottom: 22px;
	width: 100%;
}
.widget-title > h3 {
	color: #2e2e2e;
	float: left;
	font-size: 16px;
	margin: 0 0 5px;
	padding-right: 30px;
}
.widget-title > span {
	color: #666666;
	float: left;
	font-size: 13px;
	font-weight: 300;
	width: 100%;
}
#DonutTicketsByDepartment {
	float: left;
	width: 200px;
}
#TicketByDepartmentLegends {
	display: block;
	float: left;
	list-style: outside none none;
	margin: 30px 0 0 0;
	padding: 0;
	width: 140px;
}
#TicketByDepartmentLegends li {
	margin-bottom: 10px;
	font-weight: 400;
	color: #000;
}
#TicketByDepartmentLegends li span.icon {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 12px;
	margin: 8px 10px;
	width: 12px;
}
#TicketByDepartmentLegends li span.label {
	color: #757575;
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	margin-left: 30px;
	text-align: left;
}
/**/
/**/
.icon_1 {
	font-size: 25px;
	padding: 0 10px 0 0;
}
.icon_names {
	font-size: 14px;
	text-transform: capitalize;
}
.number_cal {
	color: #19B495;
}
/**/
.pie-chart-sec {
	display: table;
	float: left;
	padding: 25px;
	width: 100%;
}
.most-browsers {
	display: table;
	float: left;
	width: 100%;
}
.pie::before {
	background: #ffffff none repeat scroll 0 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	content: "";
	display: block;
	height: 70px;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	width: 70px;
	z-index: 1;
}
.pie {
	float: left;
	height: 150px;
	margin: 0;
	position: relative;
	width: 150px;
}
.pieID {
	display: inline-block;
	vertical-align: top;
}
.slice {
	position: absolute;
	width: 150px;
	height: 150px;
	clip: rect(0px, 150px, 150px, 75px);
	animation: bake-pie 1s;
}
.slice span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 150px;
	height: 150px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	clip: rect(0px, 150px, 150px, 75px);
}
.legend {
	display: table-cell;
	font-size: 13px;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 25px;
	vertical-align: middle;
	width: 100%;
}
.legend li {
	border-left: 3px solid;
	width: 100px;
	display: table;
	color: #808080;
	line-height: 10px;
	margin-bottom: 12px;
	padding-left: 10px;
}
.legend em {
	font-style: normal;
}
.legend span {
	color: #c5c5c5;
	display: none;
	float: right;
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
}
/* Revenew Browser */
.revenew-browser {
	float: left;
	padding: 27px;
	width: 100%;
}
.revenew-browser > ul {
	float: left;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.revenew-browser > ul > li {
	margin-bottom: 25px;
	width: 100%;
}
.revenew-browser > ul > li:last-child {
	margin: 0;
}
.revenew-browser > ul > li .browser-detail {
	float: left;
	width: 50%;
}
.browser-detail > img {
	float: left;
	margin-right: 10px;
}
.browser-detail > h3 {
	color: #484848;
	display: block;
	font-size: 12px;
	margin: 0;
}
.browser-detail > span {
	color: #9a9a9a;
	font-size: 10px;
	letter-spacing: 0.4px;
	margin-right: 7px;
}
.browser-detail > span:last-child {
	margin: 0;
}
.browser-detail > span > i {
	font-size: 9px;
}
/**/
.add_margin_btn {
	margin-bottom: 25px;
}
/**/
/* Social Counter */
.social-counter {
	float: left;
	padding: 25px;
	width: 100%;
}
.social-widget {
	float: left;
	width: 100%;
}
.icon_sms {
	font-size: 30px;
	padding: 0 10px 0 0;
}
.social-widget > ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}
.social-widget > ul > li {
	display: inline-block;
	padding: 6.5px 0;
	width: 115px;
}
.social-widget > span {
	color: #9f9f9f;
	float: left;
	font-size: 16px;
	margin-top: 11px;
	text-align: center;
	width: 100%;
}
.visitor-chart {
	float: left;
}
.visitor-country {
	display: table;
	float: left;
	width: 100%;
}
.visitor-country-list {
	display: table-cell;
	padding: 40px;
	vertical-align: middle;
	width: 100%;
}
.map-table {
	float: left;
	margin-top: -2px;
	width: 100%;
}
.map-table > h3 {
	color: #666666;
	float: left;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.2px;
	margin: 0;
	padding: 8px 0 8px 30px;
	text-align: left;
	width: 50%;
}
.map-table > h4 {
	color: #464646;
	float: right;
	font-size: 15px;
	letter-spacing: 0.2px;
	margin: 0;
	padding: 8px 0 8px 30px;
	text-align: left;
	width: 50%;
}
.map-table > ul {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}
.map-table li:nth-child(2n+1) {
	background: #f6f6f6 none repeat scroll 0 0;
}
.map-table li {
	float: left;
	list-style: outside none none;
	padding: 5px 0;
	width: 100%;
}
.map-table span {
	color: #555555;
	float: left;
	font-size: 13px;
	letter-spacing: 0.3px;
	padding-left: 30px;
	text-align: left;
	width: 50%;
}
.map-table i {
	color: #444444;
	float: left;
	font-size: 13px;
	font-style: normal;
	font-weight: 500;
	padding-left: 30px;
	text-align: left;
	width: 50%;
}
/*second insert*/
.panel {
	border: none;
	/*box-shadow: none;*/
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0 1px 0px rgba(0,0,0,0.05);
}
.panel .panel-heading {
	padding: 10px 15px;
	text-transform: uppercase;
}
.panel-heading {
	border-bottom: 1px solid #eee;
	background-color: #FAFAFA;
}
/*second insert*/
/**/

/**/
.reset_border {
	border-radius: 5px;
	box-shadow: 0 1px 4px #a3a3a4;
	background: #fff !important;
}
.box1 {
	padding: 10px 0 15px 0;
	background: #ffffff none repeat scroll 0 0;
	border-radius: 3px;
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	border: 1px solid #e8e9ea;
	box-shadow: 0 0 2px #d4d4d5;
}
.client_name {
	font: 17px arial;
	padding: 13px 16px 13px 22px;
	position: relative;
	width: auto;
}

	margin-right: 12px;
	margin-left: -13px;
}*/
.client_name:after {
	/*background: #ff931e none repeat scroll 0 0;*/
	content: "";
	height: 50%;
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: 1px;
}
.butt-wid {
	width: 80px;
	background: #337AB7;
	color: #fff;
	border-radius: 5px
}
.butt-wid:hover {
	color: #fff;
	background:#136bb6;
}
.alert_right_text {
	font: 17px arial;
	padding-right: 20px;
	padding-top: 11px;
}
.text-orange {
	color: #614FCD;
	font-size: 18px;
	text-transform: capitalize;
}
.alert_right_text span {
	float: left;
	padding-top: 3px;
	cursor: pointer;
	color: #614FCD;
	font-weight: bold;
}
.alert_right_text i {
	font-size: 27px;
	padding-left: 15px;
	color: #4431b1;
}
.cust_id_text {
	font: 17px arial;
	padding: 13px 11px;
}
.client_name::after {
	background: #CAC5C2 none repeat scroll 0 0;
}
.center_the_box {
	display: table;
	float: none;
	font-size: 16px;
	margin: 15px auto 0;
	padding:0;
}
.timeline_prev, .timeline_next {
	background: rgba(0, 0, 0, 0) url("../images/left-1.png") no-repeat scroll 100% 100%;
	height: 40px;
	width: 25px;
}
.timeline_prev, .timeline_next {
	left: -25px;
	position: absolute;
	top: 37%;
}
.timeline_next {
	left: auto;
	right: -25px;
	transform: rotate(180deg);
}
.ul_timeline {
	display: table;
	/* margin: 25px 0 10px; */
	padding: 0;
	text-align: center;
	white-space: nowrap;
	width: 100%;
}
.day_list_timeline:first-child {
	margin-left: 0;
}
.day_list_timeline {
	/* background-color: #54caf2;*/
	border-radius: 100%;
	color: #fff;
	display: inline-block;
	height: 68px;
	list-style: outside none none;
	margin-left: 33px;
	font: 17px arial;
	text-align: center;
	position: relative;
	width: 68px;
	line-height: 18px;
	/* padding-top: 17px;*/	  
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 68px;
}
/*.day_list_timeline::after {
    background: #130A41 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 100%;
    position: absolute;
    right: -53%;
    top: 50%;
    width: 100%;
}*/
.day_list_timeline:last-child::after {
	display: none;
}
.chge {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
}
.raw:after {
	background: #130A41 none repeat scroll 0 0;
	content: "";
	height: 2px !important;
	left: 78%;
	position: absolute;
	right: -53%;
	top: 45%;
	width: 100%;
}
.raw:last-child::after {
	display: none;
}
.timeline_active {
	/*background-color: #fff;*/
	color: #54caf2;
	border: 1px solid #0095db;
}
.datepick {
	margin-bottom: 10px;
}
.move-rigt {
	padding: 0 10px;
}
.timeline_prev, .timeline_next {
	/* background: rgba(0, 0, 0, 0) url("../../dist/img/timeline_prev.png") no-repeat scroll 0 0;*/
	left: -25px;
	position: absolute;
	top: 37%;
	cursor: pointer;
}
.timeline_next {
	left: auto;
	right: -25px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.day_list_timeline {
	background: #201268 none repeat scroll 0 0;
	border: 1px solid transparent;
}
.timeline_active {
	border: 2px solid #201268;
	color: #130A41 !important;
	background: #ffffff none repeat scroll 0 0;
	text-transform: capitalize;
}
.custom_align_body p {
	color: #5e5978;
	color: #737578;
	text-transform: capitalize;
}
.center_the_box .box-header, .center_the_box .box-body, .center_the_box .box-footer {
	padding: 10px;
	border-radius: 3px;
}
.cnt{
	background: #264568;
	/*padding: 3px 20px !important;*/
}
.day-fn {
	padding: 0 !important;
}
.padd-move {
	padding: 0 !important;
}
.text-cor {
	color: #fff !important;
	text-shadow: none;
}
.padd-top {
	padding: 16px 0 54px !important;
}
.custom_align_body {
	border-bottom: 1px solid #cccccc;
	border-radius: 0;/*	padding:15px !important;*/
	background: #fff;
}
.box-footer.no-border.padd-top {
	background: #fbfbfb;
}
.pop_label {
	color: #130A41;
	display: inline-block;
	font: 16px arial;
	width: 115px;
}
.tick_icon {
	background: rgba(0, 0, 0, 0) url("../images/round.png") no-repeat scroll 0 0 / 100% 100%;
	display: inline-block;
	height: 32px;
	margin: 0 0 -10px 20px;
	width: 32px;
}
.margintop_25 {
	margin-top: 25px;
}
.parent_loader {
	border: 1px solid #2a80b9;
	display: inline-block;
	height: 20px;
	margin: 0 0 -4px 20px;
	position: relative;
	width: 65%;
}
.child_loader {
	background: #2A80B9 none repeat scroll 0 0;
	display: table;
	height: 100%;
	width: 75%;
}
.loader_text {
	font: 17px arial;
	position: absolute;
	right: 12px;
	top: 0;
}
.text_grey_color {
	color: #130A41;
	font: 16px arial;
	margin-top: 12px;
}
.no-border {
	border: 0 none !important;
}
.bgk-shad {
	box-shadow: 2px 1px 8px #ccc;
}
.email-colr {
	color: #fcfdf6;
	cursor: pointer;
	margin-right: 8px;
	text-transform: capitalize;
}
.email-colr:hover {
	color: #fff;
	text-decoration: underline;
}
.datepic-colr {
	color: #F2FAB0;	
	margin-right: 8px;
}
.date-icon-clr {
	color: #fff;
	cursor: pointer;
}
.email-colr1 {
	color: #4431B1;
	cursor: pointer;
}
.email-colr1:hover {
	color: #FDB700;
	text-decoration: underline;
}
.tol-tip {
	background: #f2f5f7 none repeat scroll 0 0;
	display: inline-block;
	height: 40px;
	text-transform: capitalize;
	padding: 10px 0;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 40px;
}
.tol-tip .tooltip_text1 {
	border-radius: 4px;
	left: 5px;
	padding: 4px 10px;
	position: absolute;
	text-align: left;
	top: 28px;
	width: auto;
	visibility: hidden;
	z-index: 1;
	background-color:#b5ddff;
	color:#000;
	font-weight:normal;
}
.tooltip_text1 i{font-style:normal;}
.camp_stp::after {
	background: #cac5c2 none repeat scroll 0 0;
}
.camp_stp::after {
	content: "";
	height: 60%;
	position: absolute;
	right: 0;
	vertical-align: middle;
	width: 1px;
	top: 22%;
}
.camp_hypen {
	display: none;
}
.tody-dat {
	font-size: 13px;
	float: right;
	margin: 5px 0 6px;
}
.productChartList {
/* border-top: 1px solid #ddd;*/
}
.customerChartList {/*border-top: 1px solid #ddd;*/
}
.tol-tip .tooltip_text1::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 6%;
	margin-left: -5px;
	border-width: 7px;
	border-style: solid;
	border-color: transparent transparent #b5ddff transparent;
}
.tol-tip:hover .tooltip_text1 {
	visibility: visible;
	transition: ease-out 0.8s;
}
.flt-lft {
	float: left;
	text-align: left;
	padding: 0 2px;
}
.flt-lft p {
	width: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.flt-rgt {
	float: right;
}
.flt-rgt i {
	margin-right: 5px;
	cursor: pointer;
}
.flt-lft-rht {
	border-top: 1px solid;
	padding: 5px;
}
.date-cor {
	color: #130A41 !important;
	font-size: 17px;
}
.btn.btn-primary.btn-xs.push-right {
	border-radius: 3px;
	padding:5px 0;
	background:#4E4384;
}
.btn.btn-primary:hover {
	background: #4e4384;
}
.box-bott {
	padding: 0;
}
/*.officerChartList {
	border-top: 1px solid #ddd;
}
.dateChartList {
	border-top: 1px solid #ddd;
}*/
.mang-text {
	text-transform: capitalize;
}
.icon-change {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 5px 10px;
}
.move-bottom i {
	position: absolute;
	cursor: pointer;
	top: 25%;
	left: 10%;
}
.move-bottom1 i {
	position: absolute;
	cursor: pointer;
	top: 59%;
	left: 8%;
}
.move-bottom2 i {
	position: absolute;
	cursor: pointer;
	top: 28%;
	left: 5%;
}
.backround-colr {
	border-bottom: 1px solid #E8E8E8;
	padding: 0 5px 0;
	margin-bottom: 10px;
	border-radius: 3px;
}
.forgt-pass {
	text-transform: capitalize;
	vertical-align:-moz-middle-with-baseline;
	vertical-align:-webkit-middle-with-baseline;
	vertical-align:-ms-middle-with-baseline;
	vertical-align:-o-middle-with-baseline;
}
.bttn-top {
	margin-top: 0 !important;
}
.days-old-move {
	color: #130A41;
}
.cust-name {
	color: #130A41;
	text-decoration: none;
}
.butt-wid:hover, .butt-wid:focus {
	color: #fff;
}
.knob {
	color: #73879C !important;
	font-size: 15px !important;
	font-weight: normal !important;
	font-family: 'Arial';
}
.move-center {
	text-align: center;
}
.x-panel {
	background: #fff none repeat scroll 0 0;
	border: medium none;
	box-shadow: 0 1px 3px #a3a3a4;
	margin-bottom: 0;
}
.bor-non {
}
.foot-link{ float:left;}
.move-tp-brch{ margin-top:-7px !important;}
.move-tp{ margin-top:-8px !important}
.move-top-radio{ margin-bottom:10px;}
.move-top-radio1{ margin-top:-5px;}
.move-branch{ margin-top:-11px;}
.padd-toping{padding-top:0px !important;}
.update-btn{margin-bottom:0px;}
.template-contet{margin-top:12px;}