#medum-content {
	width: 714px;
	margin: auto;
}

#medum-content .content {
	padding: 0 7px;
}


#slider2 {
	width: 700px;
	margin: 0 7px;
	height: 110px;
	margin-bottom: 20px;
}
/*
#slider2 .slider-slides img {
	width: 100%;
	height: auto;
}

#slider2 .navigator span {
	background: none;
}
#slider2 .navigator .prev {
	left: -35px;
}
#slider2 .navigator .next {
	right: -35px;
}
#slider2 .navigator span:hover:before {
	border-top-color: #396;
}
#slider2 .navigator span:hover:after {
	border-left-color: #396;
}
*/
/* responsive rules */
@media (max-width: 713px) {
	#medum-content {
		width: auto;
		margin: 0;
	}

}
