/**************Divakar****************/
@media only screen and (max-width:320px)
{
	header{ text-align:center;}
	.nav_menu{margin-bottom:3px;}
	.login-box{width:96%; margin:1.5em auto 0;}
	h2{font-size:16px;}
	footer{text-align:center;}
	.foot-link{width:100%;}
	.toggle a{padding:15px 5px 0;}
	.nav.navbar-nav > li > a{padding:1px 5px;}
	.x_panel{padding:3px 0; margin:15px 0;}
	.x_title h2{font-size:16px; margin:10px 0 0;  width:100%; text-align:center;}
	.dataTables_length{text-align:center; width:100%;  margin-bottom: 10px; padding:5px 0;}
	.dataTables_filter{text-align:center; width:100%}
	.paging_full_numbers{ line-height: 52px; text-align: center; width: 100%; height:auto;}
	.dataTables_info{ text-align: center; text-transform: capitalize; width: 100%; }
	input{padding:5px 0 7px;}
	input::-webkit-input-placeholder {line-height:22px; /* fix chrome bug */}
	.inpt-width1{width:69%; margin-left:27%; }
	.welcome_botm{padding-top:0px;}
	.mov-top{margin-bottom:10px;}
	.oover{ overflow-x:auto;}
	.removeConfigArray{bottom:9px;}
	.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar, .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar{margin:17px !important;}
	.daterangepicker .ranges{width:242px !important;}
	.range_inputs{margin:0 auto; width:200px;}
	.pad_20{padding:0;}
	.last .fa-pencil-square-o{margin:0;}
	table.jambo_table{overflow:scroll;}
	div.DTTT_container{margin:4px 0 0;}	
	.toggle a i{margin-top:2px;}
	.nav.navbar-nav > li > a{padding-top:2px;}
	.date-min{margin:0 auto; width:95%;}
	.set_plus a{font-size:12px;}
	.set_com{width:210px; padding:8px;}
	.big_campaign{width:95%;}
	.modal-title{font-size:14px;}
	.form-group > label{font-size:14px;}
	.modal-body{padding:0 8px;}
	.form-control{margin-bottom:15px; padding:5px 3px;}
	.clps_all{text-align:center;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{padding:7px 0;}
	label.campaign_s{padding:5px 0 30px; font-size:14px;}
	.cust_id_name{padding:25px 0 0;}
	.no_data_found{padding:2em 0;}
	.tody-dat{margin:10px 0; width:100%; text-align:center;}	
	.x_title_adjst h2{text-align:center;}
	.form-control-feedback{width:28px;}	
	.center_the_box .box-header, .center_the_box .box-body, .center_the_box .box-footer{padding:10px 3px;}
	.x_title_adjst h2 span{margin:10px 0 0; line-height:20px;}
	.tol-tip .tooltip_text1{width:auto;}
	.tol-tip .tooltip_text1 i{font-size:12px;}
	.right_minmax_left{left:10px;}
	.text-orange{font-size:14px;}
	.client_name{width:145px; padding:15px 18px; text-align:center;}
	#wrap_hover{left:20px;}
	.day_list_timeline{width:50px; height:50px;}
	.raw::after{width:20%; top:35%; left:73%;}
	.center_the_box{padding:0 8px;}
	.custom_align_body p{text-align:center; font-size:12px; line-height:30px;}
	.x_content h4{font-size:13px;}
	.nav_new_box > ul > li{margin-bottom:0;}
	/*********** head of the retail page style starts **********/
	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .input-bg{background:rgba(255, 255, 255, 1) url("../images/small-calendar.png") no-repeat scroll 96% 41% / 7% auto}
	.inpt-width{width:100%;}
	.form-control-feedback.right{top:4px;}
	.nav_color{font-size:14px;}
	.nav_color li a > span{display:none;}
	.nav_new_box li > a{padding:6px 0;}		
	.collape-btn{width:100%; margin-top:5px; padding-right:2px;}
	.cust_name_append{font-size:14px;}
	.x-panel{overflow:hidden;}
	/*********** head of the retail page style ends ************/
	/*********** load endpoint page style starts ************/
	.right-btn,.left-btn{padding:0 9px;}
	.removeConfigArray{bottom:8px; padding:0 12px 2px;}
	.timeline .tags{ margin-right:0; width:80px;}
	.configRow{margin-bottom:0;}
	.tile_count{padding-bottom:0;}
	/*********** load endpoint page style ends ************/
	
	
	/*********** customer campaigns page style starts ************/
	.my-cust-adjst{width:62%; margin:0 auto;}
	.custmr_search{position: absolute; right: 5px; width: 136px; padding:3px 8px; top:6px;}
	.box_wrapper_1, .box_wrapper_2, .box_wrapper_3{font-size:14px;}
	.arrow_Set{left:-33px; top:17px;}
	.block_content{width:auto; float:none;}
	.cust-name{text-align:center;}
	.x_title_adjst{padding: 0 10px 0 5px;}
	.x_title .my-custoar{text-align:left;}
	/*********** customer campaigns page style ends ************/
	.sorting{background:none;}
	div.DTTT_container{width:100%; margin-top:10px;}	
	.right_col{overflow:hidden;}
	/********************* flow page style starts ********************/
	.camp_stp{font-size: 15px; margin-right: 0; min-height: 90px; padding: 5px 0; text-align: center; width: 100%;}
	.x_title{overflow:hidden;}
	.user_name{float: left; font-size: 14px; margin: 15px 0; position: static; transition: all 1s ease-in 0.5s; width: 100%;}
	.camp_stp::after{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0; content: url("../images/cmpaign_name.png"); left: 70%; top: 34%;}
	.cutm_ul > label{font-size:13px;}
	.cutm_ul > label span{font-size:13px;}
	.click_down,.click_up{left:10px;}
	header.flow_head{margin:4em 0 1.5em;}
	.custmr_list > ul{margin:0 auto;}
	.tooltip_wrapper .tooltip_text{left:-10px; width:100px; font-size:11px;}
	.paly_btn, .pause_btn{font-size:18px;}
	.play_pause_btn{margin:0 auto;}
	.cntr_plus{width:45px; height:45px; margin:0 auto; padding:13px 18px;}
	.plus_wrapper{border-bottom:1px solid #E8E8E8; padding:10px 0 15px; margin-bottom:15px;}
	.flow_ul li{width:45px; height:45px; padding:0;}
	.flow_ul li a{font-size:12px; padding-left:7px; margin-bottom:-3px;}
	.flow_ul li span{font-size:11px;}
	.add_campgn_1{left:5%;}
	/********************* flow page style ends *********************/
	/********************* customer response style starts *********************/	
	.tile_count{margin:0;}
	.bx-controls-direction{display:none;}
	/********************* customer response style ends *********************/
}
@media only screen and (min-width:321px) and (max-width:480px)
{
	header{ text-align:center;}
	.nav_menu{margin-bottom:3px;}
	.toggle{padding-top:5px;}
	.user-profile.dropdown-toggle span{padding:3px 0 0;}
	.login-box{width:95%; margin:9% auto;}
	h2{font-size:16px;}
	footer{text-align:center; padding:10px 0;}
	.login-fot{position:static;}
	.toggle a{padding:15px 5px 0;}
	.foot-link{width:100%;}	
	.x_panel{padding:7px 0; margin:15px 0;}
	.x_title h2{font-size:16px; margin:10px 0 0 0; width:100%; text-align:center;}
	.dataTables_length{text-align:center; width:100%;  margin-bottom: 10px; padding:5px 0;}
	.dataTables_filter{text-align:center; width:100%}
	.paging_full_numbers{ line-height: 52px; text-align: center; width: 100%; height:auto;}
	.dataTables_info{ text-align: center; text-transform: capitalize; width: 100%; }
	input{padding:5px 0 7px;}
	input::-webkit-input-placeholder {line-height:22px; /* fix chrome bug */}
	.welcome_botm{padding-top:0px;}
	.mov-top{margin-bottom:10px;}
	.oover{ overflow-x:auto;}	
	.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar, .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar{margin:17px !important;}
	.daterangepicker .ranges{width:242px !important;}
	.range_inputs{margin:0 auto; width:200px;}
	.pad_20{padding:0;}
	.last .fa-pencil-square-o{margin:0;}
	table.jambo_table{overflow:scroll;}
	div.DTTT_container{margin:4px 0 0;}	
	.toggle a i{margin-top:2px;}
	.nav.navbar-nav > li > a{padding:1.5px 5px;}
	.date-min{margin:0 auto; width:95%;}
	.set_plus a{font-size:12px;}
	.set_com{width:210px; padding:8px;}
	.big_campaign{width:95%;}
	.modal-title{font-size:14px;}
	.form-group > label{font-size:14px;}
	.modal-body{padding:0 8px;}
	.form-control{margin-bottom:15px; padding:5px 3px;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{padding:10px 0;}
	label.campaign_s{padding:5px 0 30px; font-size:14px;}
	.cust_id_name{padding:25px 0 0;}
	.no_data_found{padding:2em 0;}
	.tody-dat{margin:10px 0; width:100%; text-align:center;} 	
	.form-control-feedback{width:28px;}	
	.center_the_box .box-header, .center_the_box .box-body, .center_the_box .box-footer{padding:10px 3px;}	
	.tol-tip .tooltip_text1{width:auto; left:-38px;}
	.tol-tip .tooltip_text1::after{left:50%;}
	.tol-tip .tooltip_text1 i{font-size:12px;}
	.custmr_search{margin-bottom:7px;}
	.text-orange{font-size:14px;}
	.client_name{width:145px; padding:15px 5px; text-align:center;}
	.client_name::after{top:12px;}
	.cust_id_text{text-align:center; width:100%;}
	#wrap_hover{left:20px;}
	.day_list_timeline{width:50px; height:50px;}
	.raw::after{width:20%; top:35%; left:73%;}
	.center_the_box{padding:0 8px;}
	.custom_align_body p{text-align:center; font-size:12px; line-height:30px;}
	.x_content h4{font-size:13px;}
	.timeline .tags{width:90px; margin-right:0;}
	.nav_new_box > ul > li{margin-bottom:-4px;}
	/*********** head of the retail page style starts **********/
	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .input-bg{background:rgba(255, 255, 255, 1) url("../images/small-calendar.png") no-repeat scroll 97% 45% / 7% auto}
	.inpt-width{width:70%; margin:0 auto;}
	.input-group{ margin-bottom:10px;}
	.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar, .daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar{float:left;}	
	.clps_all{text-align:center; padding-bottom:15px;}
	.nav_color li a > span{display:none;}
	.nav_color{font-size:14px;}
	.nav_new_box li > a{padding:8px 0;}	.
	.collape-btn{width:28%;}
	.cust_name_append{font-size:15px;}
	.circle_slider_p{padding:1em 0 0;}
	.form-control-feedback.right{top:5px;}	
	.x-panel{overflow:hidden;}
	.right_col{overflow:hidden;}	
	/*********** head of the retail page style ends **********/
	
	/*********** load endpoint page style starts ************/
	.right-btn,.left-btn{padding:0 9px;}
	.removeConfigArray{bottom:8px; padding:0 12px 2px;}
	.configRow{margin-bottom:0;}
	.tile_count{padding-bottom:0;}	
	/*********** load endpoint page style ends ************/
		
	/*********** customer campaigns page style starts ************/
	.my-cust-adjst{margin-bottom:36px;}
	.custmr_search{position: absolute; right: 5px; width: 136px; padding:3px 15px;}
	.box_wrapper_1, .box_wrapper_2, .box_wrapper_3{font-size:14px;}
	.arrow_Set{left:-33px; top:17px;}
	.block_content{width:auto; float:none; text-align:right; padding:7px 20px;}
	.cust-name{text-align:right;}
	.right_minmax_left{left:10px; top:25px;}
	.x_title_adjst{padding:0 0 0 40px;}
	.x_title_adjst h2{text-align:left;}
	.x_title_adjst h2 span{margin:10px 0 0; line-height:20px; width:100%;}
	.inpt-width1{width:69%; margin-left:25%;}
	.x_title .my-custoar{text-align:left;}
	.nav_new_box > ul > li + li::before{top:19%;}
	/*********** customer campaigns page style ends ************/
	.sorting{background:none;}
	div.DTTT_container{width:100%; margin-top:10px;}
	/********************* flow page style starts ********************/
	.camp_stp{font-size: 15px; margin-right: 0; min-height: 90px; padding: 5px 0; text-align: center; width: 100%;}
	.x_title{overflow:hidden;}
	.user_name{float: left; font-size: 14px; margin: 15px 0; position: static; transition: all 1s ease-in 0.5s; width: 100%;}
	.camp_stp::after{ background: rgba(0, 0, 0, 0) none repeat scroll 0 0; content: url("../images/cmpaign_name.png"); left: 50%; top: 34%;}
	.cutm_ul > label{font-size:13px;}
	.cutm_ul > label span{font-size:13px;}
	.click_down{left:10px;}
	header.flow_head{margin:4em 0 1.5em;}
	.custmr_list > ul{margin:0 auto;}
	.tooltip_wrapper .tooltip_text{left:-10px; width:100px; font-size:11px;}
	.paly_btn, .pause_btn{font-size:18px;}
	.play_pause_btn{margin:0 auto;}
	.cntr_plus{width:45px; height:45px; margin:0 auto; padding:13px 18px;}
	.plus_wrapper{border-bottom:1px solid #E8E8E8; padding:10px 0 15px; margin-bottom:15px;}
	.flow_ul li{width:45px; height:45px; padding:0;}
	.flow_ul li a{font-size:12px; padding-left:7px; margin-bottom:-3px;}
	.flow_ul li span{font-size:11px;}
	.add_campgn_1{left:5%;}
	/********************* flow page style ends *********************/
	/********************* customer response style starts *********************/	
	.tile_count{margin:0;}
	.ul_timeline{overflow:hidden;}
	.raw{width:75px !important;}
	.bx-controls-direction{display:none;}
	/********************* customer response style ends *********************/
}
@media only screen and (min-width:481px) and (max-width:767px)
{
	header{ text-align:center;}
	.nav_menu{margin-bottom:3px;}
	.toggle{padding-top:5px;}
	.user-profile.dropdown-toggle span{padding:3px 0 0;}
	.login-box{width:60%; margin:10% auto;}
	footer{text-align:center;}
	.login-fot{position:static !important;}
	.foot-link{width:100%;}
	.toggle a{padding:15px 5px 0;}
	.nav.navbar-nav > li > a{padding:1px 5px;}	
	.x_title h2{font-size:16px; margin:6px 0 5px; width:100%; text-align:center;}
	.dataTables_length{text-align:center; width:100%;  margin-bottom: 10px;}
	.dataTables_filter{text-align:center; width:100%}
	.paging_full_numbers{ line-height: 52px; text-align: center; width: 100%; height:auto;}
	.dataTables_info{ text-align: center; text-transform: capitalize; width: 100%; }
	input{padding:5px 10px 5px;}	
	input::-webkit-input-placeholder {line-height:22px; /* fix chrome bug */}
	/*select{margin:0 0 0 20px;}*/
	.welcome_botm{padding-top:0px;}	
	.toggle a i{margin-top:2px;}
	.nav.navbar-nav > li > a{padding-top:2px;}	
	label.campaign_s{padding:0 0 30px; }	
	.right_minmax_left{left:8px; top:15px;}	
	.block_content{width:70%;}
	.arrow_Set{left:-16%; top:18px;}
	.charts{margin-top:10px;}	
	.text-orange{font-size:14px;}
	.client_name{width:145px; padding:15px 18px; text-align:center;}
	#wrap_hover{left:20px;}
	.day_list_timeline{width:50px; height:50px;}
	.raw::after{width:20%; top:35%; left:73%;}
	.center_the_box{padding:0 8px;}
	.custom_align_body p{text-align:center; font-size:12px; line-height:30px;}
	.nav_color li a > span{display:none;}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{padding:10px 0;}
	/*********** head of the retail page style starts **********/
	.inpt-width{width:50%;}
	.nav_color li a > span{font-size:22px;}
	.nav_color{font-size:14px;}
	.nav_new_box li > a{padding:8px 0;}
	.collape-btn{width:58%;}
	.cust_name_append{font-size:16px;}
	.clps_all{text-align:right; margin-top:-41px; width:100%;}
	.x-panel{overflow:hidden;}
	.x_panel{padding:7px 0; margin:15px 0;}
	.right_col{overflow:hidden;}
	.tile_count{margin:0; padding:0;}
	.pad_20{padding:0;}	
	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control, .input-bg{background:rgba(255, 255, 255, 1) url("../images/small-calendar.png") no-repeat scroll 97% 41% / 6% auto}
	/*********** head of the retail page style ends **********/
	
	/***********customer campaigns page style starts**********/
	.inpt-width1{width:69%; position:absolute; right:11%;}	
	.box_wrapper_1, .box_wrapper_2, .box_wrapper_3{font-size:14px;}
	.x_title_adjst h2{text-align:center; margin-bottom:10px; line-height:20px;}
	.x_title_adjst h2 span{width:100%;}
	.right_minmax_left{top:25px;}
	.center_the_box .box-header, .center_the_box .box-body, .center_the_box .box-footer{padding:10px 0;}
	.x_title_adjst{padding: 0 0 0 50px;}
	.my-cust-adjst{margin:0 auto; width:90%;}
	.timeline .tags{margin-right:0;}
	.x_title_adjst{padding:0;}
	.cust-name{text-align:center;}
	.block_content{text-align:right; padding-right:30px;}
	.x_title .my-custoar{text-align:left; width:auto;}
	.tody-dat{margin:10px 0; width:100%; text-align:center;}
	div.DTTT_container{width:100%; margin-top:10px;}
	.nav_new_box > ul > li + li::before{top:19%;}
	/*********** customer campaigns page style ends **********/
	.configRow{margin:0;}
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
	header{ text-align:center;}
	.login-box{width:60%; margin:12% auto;}
	footer{text-align:right; padding:8px 0 11px;}
	.login-fot{position:static;}
	.paging_full_numbers{height:auto; width:auto;}
	.mov-top{margin-bottom:10px;}
	.dataTables_info{ text-transform: capitalize;}	
	.welcome_botm{padding-top:0px;}
	.mov-top{margin-bottom:10px;}
	input{padding:5px 0 7px; }
	radio, checkbox{ -moz-appearance:none; -webkit-appearance:none;}
	/*************load enpoint page starts ***************/
	.form-control{padding:5px 3px;}	
	.inpt-width{width:40%;}
	.form-control-feedback.right{top:5px;}
	/*************load enpoint page ends***************/
	.clps_all{text-align:right; margin-top:-41px; width:100%; padding:0 20px 20px;}
	/*************manage employee page starts***************/
	/*************manage employee enpoint page ends***************/
	
	/*************customer campaigns page starts***************/
	.inpt-width1{width:65%;}
	/*************customer campaigns page ends***************/
}

@media only screen and (min-width:1024px) and (max-width:1280px){
	/*********** login page style starts **********/
	.login-box{width:60%; margin:16% auto;}
	footer{padding:10px 10px 6px;}
	/*********** login  page style ends **********/
	/*************customer campaigns page starts***************/
	.inpt-width1{width:66%;}
	/*************customer campaigns page ends***************/
}

@media only screen and (min-width:1081px) and (max-width:1280px){
}
/********* Manoj ***********/
@media only screen and (max-width:320px)
{	
	/************* table style starts ***************/
	.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active{padding:3px 5px;}
	/*********************table style ends********************/
	
	
	
}

@media only screen and (min-width:321px) and (max-width:480px)
{	
	
	
	/************* table style starts ***************/
	.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active{padding:4px 6px;}
	/********************* table style ends ********************/
	
	
}
@media only screen and (min-width:481px) and (max-width:767px)
{
	/********************* flow page style starts ********************/
	/********************* flow page style ends *********************/
}
@media only screen and (min-width:768px) and (max-width:1024px)
{	
	/*********** head of the retail page style starts **********/
	
	.collape-btn{width:38%;}
	.cust_name_append{font-size:17px;}
	/*********** head of the retail page style ends **********/
	
	/********************* flow page style starts ********************/
	/********************* flow page style ends *********************/
}
