
/* Responsive Document */
/* Small-phones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 280px) and (max-device-width : 320px) {
.inpt-width1 {
	width: 77%;
	margin-top: -7px;
}
.move-icon {
	left: 82%;
	top: 14%;
}
.move-top-bot {
	margin-top: 10px;
}
}
@media only screen and (max-device-width : 480px) {
.nav_color li.active a .product_icon, .nav_color li a .date_icon, .nav_color li a .officer_icon, .nav_color li a .product_icon {
	display: none;
}
.nav_color {
	font-size: 14px;
	height: 35px;
}
.nav_new_box li > a {
	padding: 9px 15px;
	font-size: 12px;
}
.top_nav .navbar-right li {
	float: none;
}
.toggle {
	width: 40px;
}
.toggle a {
	padding: 15px 10px 0;
}
.page-title .title_left {
	width: 100%;
}
.page-title .title_left h3 {
	text-align: center;
}
.form-horizontal .control-label {
	font-size: 16px;
}
.form-horizontal .form-group {
	text-align: center;
}
.box1.box-primary.reset_border.day-fn.ng-scope {
	width: 90%;
}
.ng-scope {
	font-size: 14px;
}
.tol-tip .tooltip_text1 {
	left: -41%;
	width: 147px;
}
.tol-tip .tooltip_text1::after {
	left: 18%;
}
.client_name {
	padding: 4px 9px 3px 0;
}
.text-orange {
	font-size: 14px;
	text-align: center;
	float: none !important;
}
.client_name::after {
	display: none;
}
.alert_right_text {
	text-align: center;
	float: none !important;
}
.alert_right_text span {
	float: none;
}
.alert_right_text i {
	font-size: 18px;
}
.raw::after {
	display: none;
}
.bx-wrapper .bx-prev {
	left: -20% !important;
}
.bx-wrapper .bx-next {
	right: -20% !important;
}
.col-md-12.center_the_box.bot_widgets {
	width: 100%;
}
.custom_align_body p {
	text-align: center;
	font-size: 14px;
}
.padd-top {
	height: 200px;
}
.mar-top {
	margin-top: 10px;
}
.mov-top {
	margin-top: 10px;
}
.input-group[class*="col-"] {
	padding-left: inherit;
	padding-right: inherit;
}
.bank-move {
	left: 86% !important;
}
.inpt-width {
	width: 100%;
}
.inpt-width1 {
	width: 77%;
	margin-top: -7px;
}
.move-icon {
	top: 14%;
	left: 82%;
}
.move-top-bot {
	margin-top: 10px;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-device-width : 800px) {
.nav_color li.active a .product_icon, .nav_color li a .date_icon, .nav_color li a .officer_icon, .nav_color li a .product_icon {
	display: none;
}
.nav_color {
	font-size: 14px;
	height: 35px;
}
.nav_new_box li > a {
	padding: 8px 15px;
	font-size: 13px;
}
.top_nav .navbar-right li {
	float: none;
}
.toggle {
	width: 40px;
}
.toggle a {
	padding: 15px 10px 0;
}
.form-horizontal .control-label {
	font: 14px arial
}
.pad_20 {
	padding: 2px 12px 6px;
}
.page-title .title_left {
	width: 100%;
}
.page-title .title_left h3 {
	text-align: center;
}
.form-horizontal .form-group {
	text-align: center;
}
.tol-tip .tooltip_text1 {
	left: -41%;
	width: 157px;
}
.tol-tip .tooltip_text1::after {
	left: 18%;
}
.alert_right_text {
	text-align: center;
	float: none !important;
}
.alert_right_text span {
	float: none;
}
.alert_right_text i {
	font-size: 18px;
}
.center_the_box {
	width: 77%;
}
.bx-wrapper .bx-prev {
	left: -14% !important;
}
.bx-wrapper .bx-next {
	right: -14% !important;
}
.col-md-12.center_the_box.bot_widgets {
	width: 100%;
}
.custom_align_body p {
	text-align: center;
	font-size: 14px;
}
.padd-top {
	height: 200px;
}
.mar-top {
	margin-top: 10px;
}
.mov-top {
	margin-top: 10px;
}
.bank-move {
	left: 88% !important;
}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 640px) {
 .nav_color li.active a .product_icon, .nav_color li a .date_icon, .nav_color li a .officer_icon, .nav_color li a .product_icon {
display: none;
.inpt-width1 {
width:66%;
}
.move-icon {
left:92%;
}
.move-top-bot {
margin-top:10px;
}
}
.nav_color {
font-size:14px;
height:35px;
}
.nav_new_box li > a {
padding: 8px 15px;
}
.form-horizontal .control-label {
font:12px arial
}
.pad_20 {
padding: 3px 0 10px;
}
.text-orange {
font-size:14px;
}
}

/* iPads & tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.move-center {
	text-align: center;
}
.inpt-width {
	width: 46%;
}
.inpt-width1 {
	width: 65%;
}
}

/* Desktops (portrait and landscape) ----------- */
@media only screen and (min-device-width : 980px) and (max-device-width : 1280px) {
}

/* Max-Desktops (portrait and landscape) ----------- */
@media only screen and (min-device-width : 1280px) and (max-device-width : 600px) {
/* Styles */
}

/* Large-Desktops (portrait and landscape) ----------- */
@media only screen and (min-device-width : 1600px) and (max-device-width : 900px) {
/* Styles */
/*Login page*/

}
