body.nav-sm .container.body .right_col {
	padding: 10px 20px;
	margin-left: 40px;
	z-index: 2;
}
body .container.body .right_col {
	background: #F7F7F7;
}
body.nav-md .container.body .right_col {
	padding: 10px 20px 0;
	margin-left: 230px;
}
 @media (max-width: 991px) {
body.nav-md .container.body .right_col, body.nav-md .container.body .top_nav {
	width: 100%;
	margin: 0;
}
/*body.nav-md .container.body .col-md-3.left_col {
	display: none;
}*/
body.nav-md .container.body .right_col {
	width: 100%;
	padding-right: 0
}
.right_col {
	padding: 5px !important;
}
}

body.nav-sm .container.body .left_col {
	width: 70px;
	padding: 0;
	position: fixed;
	height: 100%;
	z-index: 200;
}

body.nav-md .container.body .col-md-3.left_col {
	width: 230px;
	padding: 0;
	position: absolute;
	display: flex;
}
body.nav-md .container.body .col-md-3.left_col {
	display: none;
}

.col-md-3.left_col > div {
	width: 100%;
}

.col-md-55, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 33px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}
header.flow_head {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	margin: 3em 0 2em;
}
.x_title_recent h2 {
	color: #ff0000;
}
.camp_stp {
	border-radius: 2px;
	font-size: 16px;
	padding: 5px 10px;
	font-weight: bold;
	position: relative;
}
.clearfix:after, form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.row {
	margin-right: -10px;
	margin-left: -10px;
	position: relative;
}
.custmr_list li span {
	float: left;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	width: 62%;
}
.custmr_list li a {
	margin-right: 8px;
	margin-top:1px;
}
.custmr_list > ul {
	list-style-type: none;
	text-align: center;
	height: auto;
	margin-bottom: 30px;
	width: 80%;
}
.custmr_list li {
	background: #3e3089 none repeat scroll 0 0;
	display: table;
	/*font-size: 14px;*/
	margin: 1px auto;
	padding: 6px 6px;
	margin-top: 1px;
	width: 100%;
	color: #fff;
}
.custmr_list li a i {
	font-size: 13px;
}
.custmr_list li:hover {
	background: #3e3089;
}
.custmr_list li:active, .custmr_list li:focus {
	background: #614FCD;
}
.custmr_list a {
	color: #fff;
	text-transform: capitalize;
}
.cutm_ul > label {
	background: #614FCD;
	text-transform: capitalize;
	color: white;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: lighter;
	width: 100%;
	padding: 4px 0;
	position: relative;
}
.cutm_ul > label span {
	cursor: pointer;
	font-size: 15px;
}
.click_down {
	bottom: 1px;
	left: 20px;
	position: absolute;
	transform: rotate(180deg);
}
.list_of_icon i {
	margin-right: 5px;
}
.list_of_icon i:last-child {
	margin-right: 0;
	margin-left: 2px;
}
.list_of_icon {
	position: absolute;
	right: 5px;
	top: 5px;
}
.add_campgn {
	min-height: 500px;
}
.add_campgn_tab {
	margin: auto;
	width: 40%;
}
.modal-header1 {
	background: #6956df none repeat scroll 0 0;
	color: #ffffff;
	padding: 6px 15px;
}
.inner_div {
	position: relative;
}
.modal-title1 {
	margin: 0;
	line-height: 1.42857143;
	font-size: 16px;
}
.modal-body1 {
	padding: 0 15px;
}
.form-group {
	margin: 5px 0 15px 0;
}
.form-group > label {
	font-size: 18px;
	font-weight: 500;
	color: #737374;
	text-transform: capitalize;
}
.modal-footer1 {
	border: 0 none;
}
.plus_wrapper {
	width: 100%;
	text-align: center;
	padding: 10px 0 20px 0;
	position: relative;
}
.play_pause_btn {
	margin: 0 0 0.2em 10.8em;
	padding: 2px;
	width: 100px;
}
.play_pause_btn span {
	margin-right: 4px;
	cursor: pointer;
}
.paly_btn, .pause_btn {
	color: #2d206d;
	font-size: 24px;
}
.play_pause_btn span:last-child {
	margin-right: 0;
}
.cntr_plus {
	background: #46349f none repeat scroll 0 0;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	height: 70px;
	margin: 0 0 0 12em;
	padding: 25px;
	width: 70px;
}
.adjust_div_one {
	position: relative;
}
.set_com {
	background: #e1e1df none repeat scroll 0 0;
	margin-bottom: 40px;
 //min-height: 250px;
	width: 230px;
	padding: 15px;
	margin-left: 0px;
	border-radius: 3px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.set_com::before {
	background: #130A41 none repeat scroll 0 0;
	content: "";
	height: 32px;
	left: 114px;
	position: absolute;
	top: -32px;
	width: 2px;
}

.set_plus {
	background: #614FCD none repeat scroll 0 0;
	text-align: center;
	box-shadow: 0 2px 3px #ccc;
	-moz-box-shadow: 0 2px 3px #ccc;
	-ms-box-shadow: 0 2px 3px #ccc;
	-o-box-shadow: 0 2px 3px #ccc;
	-webkit-box-shadow: 0 2px 3px #ccc;
	position: relative;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.set_plus a {
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
	font-size: 14px;
}
.set_plus span {
	margin-left: 1em;
	top: 6px;
}
.set_plus > a:hover {
	text-decoration: none;
}
.plus_icon {
	color: #ffffff;
}
.plus_icon:hover, .plus_icon:active, .plus_icon:focus {
	color: #ffffff;
}
.right_icon i {
	cursor: pointer;
}
.flow_ul {
	list-style-type: none;
	text-align: center;
	/*float: right;*/
	margin-left: 3em;
}
.flow_ul li {
	float: left;
	width: 70px;
	height: 70px;
	margin-bottom: 10px;
	background: #201268;
	position: relative;
	margin-right: 25px;
	padding: 12px 2px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.flow_ul li:last-child {
	margin-right: 0;
}
.hide_t_c{
	padding-bottom:2em;
}
.flow_ul li a {
	color: #fff;
	display: block;
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2em;
	text-transform: capitalize;
	font-size: 14px;
	text-overflow: ellipsis;
}
.flow_ul li::after {
	background: #130A41 none repeat scroll 0 0;
	content: "";
	height: 2px;
	left: 100%;
	position: absolute;
	top: 50%;
	width: 54px;
}
.flow_ul li:last-child:after {
	background: none;
}
.flow_ul li span {
	cursor: pointer;
	color: #fff;
	margin: 0 1px;
}
.big_campaign {
	margin: auto;
	width: 75%;
}
.hide_t_c{
	padding-bottom:2em;
}
.form-control {
	border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
	/*line-height: 30px;*/	
	width: 100%;
	height: auto;
}
.form-control, .end_point_input:focus {
	border-color: transparent;
	background: #fff;
	box-shadow: 0 0 2px #c2c3c4;
	-moz-box-shadow: 0 0 2px #c2c3c4;
	-ms-box-shadow: 0 0 2px #c2c3c4;
	-o-box-shadow: 0 0 2px #c2c3c4;
	-webkit-box-shadow: 0 0 2px #c2c3c4;
	margin-bottom: 20px;
}
.form-control-feedback {	
	height: 23px;
	color: #bbb;
	line-height: 24px !important;
	font-size: 15px;
}
.form-control-feedback.left {
	border-right: 1px solid #ccc;
	left: 13px;
}
.form-control-feedback.right {
	border-left: 1px solid #ccc;
	right: 10px;
}
.form-control.has-feedback-left {
	padding-left: 45px;
}
.form-control.has-feedback-right {
	padding-right: 45px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {	
	color: #8b8c8c;
}
.form-control:focus {
	border: 1px solid #dcddde !important;
	box-shadow: 0 0 4px #c8cbcf !important;
	-moz-box-shadow: 0 0 4px #c8cbcf !important;
	-ms-box-shadow: 0 0 4px #c8cbcf !important;
	-o-box-shadow: 0 0 4px #c8cbcf !important;
	-webkit-box-shadow: 0 0 4px #c8cbcf !important;
}
.docs-buttons > .btn, .docs-buttons > .btn-group, .docs-buttons > .form-control {
	margin-right: 5px;
	margin-bottom: 10px;
}
.docs-toggles > .btn, .docs-toggles > .btn-group, .docs-toggles > .dropdown {
	margin-bottom: 10px;
}
 @media (max-width: 400px) {
.btn-group-crop {
	margin-right: -15px!important;
}
.btn-group-crop > .btn {
	padding-left: 5px;
	padding-right: 5px;
}
.btn-group-crop .docs-tooltip {
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	padding-right: 5px;
}
}
.docs-options .dropdown-menu {
	width: 100%;
}
.docs-options .dropdown-menu > li {
	padding: 3px 20px;
}
.docs-options .dropdown-menu > li:hover {
	background-color: #f7f7f7;
}
.docs-options .dropdown-menu > li > label {
	display: block;
}
.docs-cropped .modal-body {
	text-align: center;
}
.docs-cropped .modal-body > img {
	max-width: 100%;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, {
 border-radius:3px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
 -ms-border-radius:3px;
 -o-border-radius:3px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}
.top_search .form-control {
	border-right: 0;
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
	-ms-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
	-o-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
	-webkit-box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
	border-radius: 25px 0px 0px 25px;
	-moz-border-radius: 25px 0px 0px 25px;
	-ms-border-radius: 25px 0px 0px 25px;
	-o-border-radius: 25px 0px 0px 25px;
	-webkit-border-radius: 25px 0px 0px 25px;
	padding-left: 20px;
	border: 1px solid rgba(221, 226, 232, 0.49);
}
.top_search .form-control:focus {
	border: 1px solid rgba(221, 226, 232, 0.49);
	border-right: 0;
}
.form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}
.input-group.form-horizontal {
	width: 100%;
}
.form-horizontal .control-label {
	color: #253D59;
	font: 16px arial;
}
label.pull-left.control-label {
	padding-right: 5px;
	width: 55px;
	text-transform: capitalize;
}
.form-group {
	margin: 5px 0 15px 0;
}
.form-group > label {
	font-size: 18px;
	font-weight: 500;
	color: #737374;
	text-transform: capitalize;
}
.calender_section {
	padding: 5px 0;
}
.adjust_div {
	position: relative;
	height: 200px;	
}
.add_campgn_1 {
	width: 280px;
	margin-top: 0;
}
.add_campgn_1{left: 7%; position: absolute; top:0;}

.add_campgn_1_before_togg {
	background: #452BDA none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 43px;
	left: 60%;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
}
.add_campgn_1_togg {
	margin-left: 0;
	margin-right: 60px;
	margin-top: 40px;
	width: 358px;
}
.btn-success {
	width: 80px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}
a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
	color: #fff !important;
}
.btn {
	border-radius: 0;
}
.btn-group-vertical .btn, .btn-group .btn {
	margin-bottom: 0;
	margin-right: 0;
}
.btn-group .parsley-errors-list {
	display: none;
}
.widget_tally_box .btn-group button {
	text-align: center
}
.widget_tally_box .btn-group button {
	color: inherit;
	font-weight: 500;
	background-color: #f5f5f5;
	border: 1px solid #e7e7e7;
}
.avatar-btns .btn-group {
	margin-right: 5px;
}
.date-min {
	width: 80%;/*border: 1px solid #d4d4d5;
	box-shadow: 0 0 2px #d4d4d5;
	-moz-box-shadow: 0 0 2px #d4d4d5;
	-ms-box-shadow: 0 0 2px #d4d4d5;
	-o-box-shadow: 0 0 2px #d4d4d5;
	-webkit-box-shadow: 0 0 2px #d4d4d5;*/
}
.pad_top {
	display: table;
	padding: 0px 20px 0px;
	text-align: center;
	width: 100%;
}
.tooltip_wrapper {
	display: inline-block;
	height: 40px;
	text-transform: capitalize;
	padding: 10px 0;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.tooltip_wrapper .tooltip_text {
	background-color: #130a41;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	color: #fff;
	left: 10px;
	padding: 4px 0;
	position: absolute;
	text-align: center;
	top: 25px;
	visibility: hidden;
	width: 160px;
	z-index: 1;
}
.tooltip_wrapper .tooltip_text_flow {
	color: #5a626a;
	left: 0;
	padding: 4px 0;
	position: absolute;
	text-align: left;
	top: 24px;
	width: auto;
	visibility: hidden;
	z-index: 1;
}
.tooltip_wrapper .tooltip_text::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.tooltip_wrapper:hover .tooltip_text {
	visibility: visible;
	transition: ease-out 0.8s;
}
.tooltip_wrapper:hover .tooltip_text_flow {
	visibility: visible;
	transition: ease-out 0.8s;
}
.tooltip_text {
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 73px;
	position: relative;
}
.show_text {
	left: 18px;
	overflow: hidden;
	position: absolute;
	text-align: left;
	text-overflow: ellipsis;
	top: 9px;
	width: 103px;
}
.lead {
	margin: 0 15px 0 0;
	cursor: pointer;
}
.lead > i {
	color: #73879C;
	font-size: 24px;
}
.align-right {
	text-align: right;
}
.x_panel {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding: 7px 17px;
	display: inline-block;
	box-shadow: 0 1px 4px #a3a3a4;
	-moz-box-shadow: 0 1px 4px #a3a3a4;
	-ms-box-shadow: 0 1px 4px #a3a3a4;
	-o-box-shadow: 0 1px 4px #a3a3a4;
	-webkit-box-shadow: 0 1px 4px #a3a3a4;
	background: #fff;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	opacity: 1;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom:55px;
}
.x_title {
	padding: 1px 5px 6px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e8e8e8;
}
.x_title .filter {
	width: 40%;
	float: right;
}
.x_title h2 {
	margin: 5px 0 6px;
	float: left;
	display: block;
	text-overflow: ellipsis;
	/*overflow: hidden;*/
	white-space: nowrap;
	font-size: 18px;
	text-transform: capitalize;
}
.x_title h2 small {
	margin-left: 10px;
}
.x_title span {
/*color: #ffffff;*/
}
.x_content h4 {
	font-size: 16px;
	font-weight: 500;
}
.x_content .table-striped tbody tr:nth-child(odd) th {
	color: #9B59B6;
}
.x_content .table-striped tbody tr:nth-child(even) th {
	color: #26B99A;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background: #f8f9f9;
}
.x_content {
	clear: both;
	float: left;
	margin-top: 5px;
	padding: 0 5px 6px;
	position: relative;
	width: 100%;
}
.x_content canvas {
}
.x_content img {
	margin: 7px 0 0;
}
legend {
	padding-bottom: 7px;
}

table.tile h3, table.tile h4, table.tile span {
	font-weight: bold;
	vertical-align: middle !important;
}
table.tile th, table.tile td {
	text-align: center;
}
table.tile th {
	border-bottom: 1px solid #E6ECEE;
}
table.tile td {
	padding: 5px 0;
}
table.tile td ul {
	text-align: left;
	padding-left: 0
}
table.tile td ul li {
	list-style: none;
	width: 100%;
}
table.tile td ul li a {
	width: 100%
}
table.tile td ul li a big {
	right: 0;
	float: right;
	margin-right: 13px;
}
table.tile_info {
	width: 100%;
}
table.tile_info td {
	text-align: left;
	padding: 1px;
	font-size: 15px
}
table.tile_info td p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
	line-height: 28px;
}
table.tile_info td i {
	margin-right: 8px;
	font-size: 17px;
	float: left;
	width: 18px;
	line-height: 28px
}
table.tile_info td:first-child {
	width: 83%;
}
td span {
	line-height: 28px;
}
.sidebar-widget {
	overflow: hidden;
}
.error-number {
	font-size: 90px;
	line-height: 90px;
	margin: 20px 0;
}
.col-middle {
	margin-top: 5%;
}
.mid_center {
	width: 370px;
	margin: 0 auto;
	text-align: center;
	padding: 10px 20px;
}
h3.degrees {
	font-size: 22px;
	font-weight: 400;
	text-align: center;
}
.degrees:after {
	content: "o";
	position: relative;
	top: -12px;
	font-size: 13px;
	font-weight: 300;
}
.daily-weather .day {
	font-size: 14px;
	border-top: 2px solid rgba(115, 135, 156, 0.36);
	text-align: center;
	border-bottom: 2px solid rgba(115, 135, 156, 0.36);
	padding: 5px 0;
}
.weather-days .col-sm-2 {
	overflow: hidden;
	width: 16.66666667%;
}
.weather .row {
	margin-bottom: 0
}
/* *********  tables styling  ******************************* */

.bulk-actions {
	display: none;
}
table.countries_list {
	width: 100%;
}
table.countries_list td {
	padding: 0 10px;
	line-height: 30px;
	border-top: 1px solid #eeeeee;
}
.dataTables_paginate a {
	padding: 6px 9px !important;
	background: #ddd !important;
	border-color: #ddd !important;
}
.paging_full_numbers a.paginate_active {
	background-color: #130A41 !important;
	border-color: #130A41 !important;
	color: #fff;
}
button.DTTT_button, div.DTTT_button, a.DTTT_button {
	border: 1px solid #130A41 !important;
	background: #130A41 !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}
table.jambo_table {
	border: 1px solid rgba(221, 221, 221, 0.78);
}
table.jambo_table thead {
	color: #ECF0F1;
}
table.jambo_table tbody tr:hover td {
	border-bottom: 1px solid rgba(38, 185, 154, 0.11);
}
table.jambo_table tbody tr.selected {
	background: rgba(38, 185, 154, 0.16);
}
table.jambo_table tbody tr.selected td {
	border-top: 1px solid rgba(38, 185, 154, 0.40);
	border-bottom: 1px solid rgba(38, 185, 154, 0.40);
}
.dataTables_paginate a {
	background: #ff0000;
}
.dataTables_wrapper {
	position: relative;
	clear: both;
	zoom: 1;/* Feeling sorry for IE */
}
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}
.dataTables_length {
	width: 40%;
	float: left;
}
.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	margin-bottom: 20px;
}
.dataTables_filter label > input {
	border: 1px solid #d4d6d7;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.dataTables_length label > select {
/*border: 1px solid #d4d6d7;*/
}
.dataTables_info {
	/* width: 55%; */
	float: left;
	text-transform: capitalize;
}
.dataTables_paginate {
	float: right;
	text-align: right;
}
/* Pagination nested */

.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
 *cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover, .paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active, .paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}
.paginate_disabled_previous, .paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}
.paginate_disabled_previous {
	background: url('../images/back_disabled.png') no-repeat top left;
}
.paginate_enabled_previous {
	background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../images/back_enabled_hover.png') no-repeat top left;
}
.paginate_disabled_next {
	background: url('../images/forward_disabled.png') no-repeat top right;
}
.paginate_enabled_next {
	background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../images/forward_enabled_hover.png') no-repeat top right;
}
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
}
table.display thead th {
	padding: 8px 18px 8px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	cursor: hand;
}
table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}
table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}
table.display td {
	padding: 3px 10px;
}
table.display td.center {
	text-align: center;
}
.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}
.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}
.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}
.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}
.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
table.display thead th:active, table.display thead td:active {
	outline: none;
}
.dataTables_scroll {
	clear: both;
}
.dataTables_scrollBody {
 *margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}
.top, .bottom {
}
.top .dataTables_info {
	float: none;
}
.clear {
	clear: both;
}
.dataTables_empty {
	text-align: center;
}
tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}
tfoot input.search_init {
	color: #999;
}
td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}
td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}
.example_alt_pagination div.dataTables_info {
	width: 40%;
}
.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
	border: 1px solid #aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
 *cursor: hand;
}
.paging_full_numbers a.paginate_button {
	background-color: #ddd;
	color: #6a6c6d
}
.paging_full_numbers a.paginate_button:hover {
	background-color: #ccc;
	text-decoration: none !important;
}
.paging_full_numbers a.paginate_active {
	background-color: #99B3FF;
}
table.display tr.even.row_selected td {
	background-color: #B0BED9;
}
table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}
div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}
table, tr, th, td {
	border: 1px solid #eee;
}
.table > thead > tr > th {
	border-bottom: 1px solid #ddd;
	background-color: #130A41;
	color: #fff;
	text-transform: uppercase;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: none !important;
}
table.dataTable.no-footer {
	border-bottom: none !important;
}
table tbody tr td a i {
	color: #73879C;
}
#example_length > label, #example_filter > label, #mytable_length > label, #mytable_filter > label {
	text-transform: capitalize;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
/*padding:3px 15px !important;*/
}
/* *********  /tables styleing  ****************************** */
.loading {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff url("../images/loading.gif") no-repeat center center;
	opacity: .75;
	filter: alpha(opacity=75);
	z-index: 20140628;
}