input.ng-invalid {
    border:1px solid #e8e9ea;
	 border-radius: 3px;
    box-shadow:0 0 2px #d4d4d5;
}
select.ng-invalid {
    border:1px solid #d4d4d5;
	 border-radius: 3px;
    box-shadow:0 0 2px #d4d4d5;
}
input.ng-error {
    border:1px solid #d4d4d5;
	box-shadow:0 0 2px #d4d4d5;
}
select.ng-error {
    border:1px solid #d4d4d5;
	box-shadow:0 0 2px #d4d4d5;
}
input.ng-valid {
    vertical-align: -moz-middle-with-baseline;
}