<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bank Officer</title>
<script src="js/Angular/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/rwd.css" rel="stylesheet">
<link href="css/validation.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery-ui.css">
<!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<style>
responseChart path 
{ 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
responseChart .axis path,
responseChart .axis line 
{
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
</style>
</head>

<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
  <div class="main_container">
   <div class="col-md-3 left_col">
		<div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">

	 <div class="row">
	 
        <div class="col-md-8 col-xs-12 col-sm-8">
            <div class="dashboard_graph">
              <div class="row x_title">
                <div class="col-md-6">
                  <h3>Response Rate </h3>
                </div>
				
				<div class="col-md-6">
				<select ng-model="responseRateValue" class="form-control pull-right cutm_form_dsh" ng-change="responseRate()" ng-options="nn.LABEL for nn in responseGroup track by nn.VALUE" >
				</select>
                </div>
              </div>
              <div class="col-md-12 col-sm-9 col-xs-12">
				<responseChart></responseChart>
				<br/><br/>
									<i style="width:20px;height:20px;background:rgb(51, 102, 0);display:inline-block;"></i>&nbsp;Interested&nbsp;&nbsp;&nbsp;
									<i style="width:20px;height:20px;background:rgb(204, 51, 0);display:inline-block;"></i>&nbsp;Not Interested&nbsp;&nbsp;&nbsp;
									<i style="width:20px;height:20px;background:rgb(204, 204, 0);display:inline-block;"></i>&nbsp;Not Now&nbsp;&nbsp;&nbsp;
									<i style="width:20px;height:20px;background:rgb(204, 204, 204);display:inline-block;"></i>&nbsp;Not Responsed
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
		  
		  <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title today_title">
                                    <h2>Today</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="#">{{todayDate}}</a></li>                                    
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content" id="empDayVolume" style="visibility:hidden">
                                  <center>
									<chart></chart></center>
									<br/><br/>
									<i style="width:20px;height:20px;background:rgb(189, 195, 199);display:inline-block;"></i>&nbsp;Email Sent&nbsp;&nbsp;&nbsp;
									<i style="width:20px;height:20px;background:rgb(38, 185, 154);display:inline-block;"></i>&nbsp;SMS Sent&nbsp;&nbsp;&nbsp;
									<i style="width:20px;height:20px;background:rgb(97, 79, 205);display:inline-block;"></i>&nbsp;Voice Sent<br/>
									<i style="width:20px;height:20px;background:rgb(204, 102, 255);display:inline-block;"></i>&nbsp;New Customers
								  
                                </div>
                            </div>
            </div>
		 
		  
		  <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="x_panel charts">
                                <div class="x_title x_title_recent">
                                    <div class="col-md-6">
                                    <h2>Recent Activities </h2>
                                    </div>
                                    <div class="col-md-6">
				<select ng-model="recentActivityValue" class="form-control pull-right cutm_form_dsh" ng-change="loadActivityList()" ng-options="nn.LABEL for nn in activityGroup track by nn.VALUE" >
				</select>
             
											
                                      
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">

                                    <table class="table table-striped">                                 
                                        <tr ng-repeat="c in communicationList">
										<th colspan="2">{{ c.CAMMUNICATION_NAME }}</th>
										<td>{{ c.ACTIVITY_COUNT+ ' ' +c.ACTIVITY_NAME }}</td>
										</tr>
                                    </table>
                                </div>
                            </div>
                        </div>
						
				<div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_panel charts">
                            <div class="x_title">
                                <h2>My Customers</h2>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="customer">
							<ul class="list-unstyled timeline" ng-repeat='x in customerList'>

							<li><div class="block"><div class="tags"><a class="tag" href="customer-touchpoints.html?id={{x.CUSTOMER_EMAIL}}"><span>Customer</span></a></div><div class="block_conent"><h2 class="title"><a href="customer-touchpoints.html?id={{x.CUSTOMER_EMAIL}}">{{ x.CUSTOMER_FNAME+ ' ' +x.CUSTOMER_LNAME }}</a></div></div></li>
							
							</ul>
                            </div>
                        </div>
                    </div>  
   
        </div>		
			      </div></div>
    </div>
    
    <!-- footer content -->
  <footer class="manualCapitalize">
    <a href="#" style="float:left">
      <img src="images/logo/logo-3.PNG" alt="footer_logo">
    </a>
    &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
  </footer>
  <!-- /page content --> 
</div>
<script src="js/d3.v3.min.js"></script>
<script src="js/config.js" type="text/javascript"></script>
<script src="js/pages/bank-manager.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script src="js/custom.js"></script> 
<script src="js/pages/bank-officer.js"></script> 
</body>
</html>