<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Touch Point | Manage Bank Admin</title>
  
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/custom-2.css" rel="stylesheet">
  <link href="css/rwd.css" rel="stylesheet">
  <link href="css/validation.css" rel="stylesheet">
  <script src="js/Angular/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">

</head>

<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
  <div id="loader"></div>
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div id="sideMenu"></div>
      </div>
      <!-- top navigation -->
      <div id="topMenu"></div>
      <!-- /top navigation -->
      <!-- page content -->
      <div class="right_col" role="main">
        <div class="x-margin">
          <div class="x_panel">
            <div class="page-title">
              <div class="title_left">
                <!-- <h3>Manage Employees</h3>-->
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                  <h2>{{title}}</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <br />
                  <form id="demo-form2" class="form-horizontal form-label-left" novalidate name="employee">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bank_name">Bank Name<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="banklist" ng-minlength="4" ng-pattern="/^[a-zA-Z ]+$/" required class="form-control col-md-7 col-xs-12" ng-model="banklist" placeholder="Bank Name" name="banklist"/>
                        <!--<select class="form-control" ng-options="o.BANK_NAME for o in banklistoptions track by o.BANK_CODE" ng-model="banklist" ng-change="getBranchList()" required name="banklist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                        </select>-->
                        <span class="errormess"></span>
						<span style="color:red" ng-show="employee.banklist.$dirty && employee.last_name.$invalid">					
						<span style="color:red"  ng-show="employee.$dirty && employee.banklist.$error.required">This is a required field</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.banklist.$error.minlength">Minimum length required is 4</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.banklist.$invalid">This field is invalid </span>
                         </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" style="text-transform:none;" for="bank_name">Short Name of Bank<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="bankcode" ng-minlength="3" ng-pattern="/^[a-zA-Z ]+$/" required class="form-control col-md-7 col-xs-12" ng-model="bankcode" placeholder="Short Name of Bank" name="bankcode"/>
                        <!--<select class="form-control" ng-options="o.BANK_NAME for o in banklistoptions track by o.BANK_CODE" ng-model="banklist" ng-change="getBranchList()" required name="banklist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                        </select>-->
						<span style="color:red" ng-show="employee.bankcode.$dirty && employee.last_name.$invalid">					
						<span style="color:red"  ng-show="employee.$dirty && employee.bankcode.$error.required">This is a required field</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.bankcode.$error.minlength">Minimum length required is 4</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.bankcode.$invalid">This field is invalid </span>
                        </span>
                        <span class="errormess"></span>
                      </div>
                    </div>
                    

                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rolelist">Role<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-options="c.ROLE_NAME for c in rolelistoptions track by c.ROLE_ID" ng-model="rolelist" required name="rolelist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                          <option value="" disabled>Select Role</option>
                        </select>
                        <span class="errormess"></span>
                      </div>
                    </div> -->
                    
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first_name">First Name <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="first_name" ng-minlength="4" ng-pattern="/^[a-zA-Z ]+$/" class="form-control col-md-7 col-xs-12" ng-model="first_name" name="first_name" ng-model-options="{ updateOn: 'blur' }"  required placeholder="First Name">
						<span style="color:red" ng-show="employee.first_name.$dirty && employee.last_name.$invalid">
						<span style="color:red"  ng-show="employee.$dirty && employee.first_name.$error.required">This is a required field</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.first_name.$error.minlength">Minimum length required is 5</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.first_name.$invalid">This field is invalid </span>
						</span>
					</div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Last Name<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="last_name" ng-minlength="1" ng-pattern="/^[a-zA-Z ]+$/"  required class="form-control col-md-7 col-xs-12" ng-model="last_name" name="last_name" placeholder="Last Name" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[a-zA-Z]+$/" required placeholder="First name">
                       <span style="color:red" ng-show="employee.last_name.$dirty && employee.last_name.$invalid">
						<span style="color:red"  ng-show="employee.$dirty && employee.last_name.$error.required">This is a required field</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.last_name.$error.minlength">Minimum length required is 5</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.last_name.$invalid">This field is invalid </span>
                      </span>
					  </div>
                    </div>

                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dob">Date Of Birth<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <datepicker date-format="MM/dd/yyyy" date-min-limit="1950/01/01" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'>
                          <input type="text" id="dob" required class="angular-datepicker-input form-control col-md-7 col-xs-12" ng-model="dob" name="dob" placeholder="mm/dd/yyyy">
                        </datepicker>
                        <span class="errormess"></span>
                      </div>
                    </div> -->

                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phno">Phone Number<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="col-xs-4 col-lg-4">
                          <div class="input-group" style="width:100%">
                            <span class="input-group-addon" id="sizing-addon1">(</span>
                            <input type="text" id="phone_prefix" required class="form-control col-md-7 col-xs-12" limit-to="3" ng-model="phone_prefix" name="phone_prefix" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required placeholder="Code">
                            <span class="input-group-addon" id="sizing-addon1">)</span>
                          </div>
                        </div>
                        <div class="col-xs-8 col-lg-8">
                          <!--                          <div class="input-group">
                          <input type="number" limitTo="7" id="phno" required class="form-control col-md-7 col-xs-12" ng-minlength="7" ng-model="phno" name="phno" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" placeholder="1234567">
                          <!--                          </div>
                        </div>
                        <!--                        <input type="text" id="phno" required class="form-control col-md-7 col-xs-12" ng-model="phno" name="phno" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/">

                        <span style="color:red" ng-show="employee.phno.$dirty && employee.phno.$invalid || employee.phone_prefix.$dirty && employee.phone_prefix.$invalid">
                            <span ng-show="employee.phone_prefix.$error.pattern">Area Code must be numeric.</span>
                        <span ng-show="employee.phone_prefix.$error.minlength">Area Code must contain atleast 3 chars.</span>
                        <span ng-show="employee.phno.$error.pattern">Phone Number must be numeric.</span>
                        <span ng-show="employee.phno.$error.minlength">Phone Number must contain atleast 7 chars.</span>
                        </span>
                      </div>
                    </div> -->

                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mono">Mobile Number<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="input-group" style="width:100%">
                          <span class="input-group-addon" id="sizing-addon1">+1</span>
                          <input limit-to="10" type="number" id="mono" required class="form-control col-md-7 col-xs-12" ng-model="mono" ng-minlength="10" name="mono" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required placeholder="1234567890">
                        </div>
                        <!--                        <input type="text" id="mono" required class="form-control col-md-7 col-xs-12" ng-model="mono" name="mono" maxlength="10" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required>
                        <br />

                        <span style="color:red" ng-show="employee.mono.$dirty && employee.mono.$invalid">
                            <span ng-show="employee.mono.$error.required">Mobile Number is required.</span>
                        <span ng-show="employee.mono.$error.pattern">Mobile Number must be numeric.</span>
                        <span ng-show="employee.mono.$error.minlength">Mobile Number must contain atleast 10 chars.</span></span>
                      </div>
                    </div> -->
                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-options="gen.GENDER_LABEL for gen in genderlistoptions track by gen.GENDER_NAME" ng-model="gender" required name="gender" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                          <option value="" disabled>Select Gender</option>
                        </select>
                        <span class="errormess"></span>
                      </div>
                    </div> -->
                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">Zone<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-options="cc.COUNTRY_NAME for cc in countrylistoptions track by cc.COUNTRY_CODE" ng-model="country" ng-change="getStates()" required name="country" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                          <option value="" disabled>Select Zone</option>
                        </select>
                        <span class="errormess"></span>
                      </div>
                    </div> -->
                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">State<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-options="sc.STATE_NAME for sc in statelistoptions track by sc.STATE_CODE" ng-model="state" required name="state" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                          <option value="" disabled>Select State</option>
                        </select>
                        <span class="errormess"></span>
                      </div> 
                    </div>-->
                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">City<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="city" required class="form-control col-md-7 col-xs-12" ng-model="city" name="city" placeholder="Eg. Washington">
                        <span class="errormess"></span>
                      </div>
                    </div> -->
                   <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="address" required class="form-control col-md-7 col-xs-12" ng-model="address" name="address" placeholder="Eg. 1, Street Name, Address lane">
                        <span class="errormess">{{errormess}}</span>
                      </div>
                    </div> --> 
                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zip">ZIP Code<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <!--                        <input type="number" id="zip" required class="form-control col-md-7 col-xs-12" ng-model="zip" name="zip" ng-minlength="6" maxlength="6" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" placeholder="Eg. 20001">-->
                        <!--                        <input type="text" id="zip" required class="form-control col-md-7 col-xs-12" ng-model="zip" name="zip" minlength="6" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required placeholder="20001">
                        <input type="number" id="zip" limit-to="6" required class="form-control col-md-7 col-xs-12" ng-model="zip" limit-to="6" ng-maxlength="6" name="zip" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required placeholder="20001">
                        <span style="color:red" ng-show="employee.zip.$dirty && employee.zip.$invalid">
                            <span ng-show="employee.zip.$error.required">Zipcode is required.</span>
                        <span ng-show="employee.zip.$error.pattern">Zipcode must be numeric.</span>
                        <span ng-show="employee.zip.$error.maxlength">Zipcode must contain atleast 6 chars.</span>
                        </span>
                      </div>
                    </div> -->
					
					<div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email Address <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="email" id="email" required class="form-control col-md-7 col-xs-12" name="email" ng-model="email" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,5}$/" placeholder="Email Address" autocomplete="off">
                        <br />

                        <span style="color:red" ng-show="employee.email.$dirty && employee.email.$invalid">
                            <span ng-show="employee.email.$error.email">Invalid email address.</span>
                        <span ng-show="employee.email.$error.pattern">Invalid pattern. Eg. username@domain.com</span></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" id="password" ng-minlength="5" required class="form-control col-md-7 col-xs-12" ng-model="password" name="password" placeholder="Password" autocomplete="off">
                        <span style="color:red" ng-show="employee.password.$dirty && employee.password.$invalid">
						<span style="color:red"  ng-show="employee.$dirty && employee.password.$error.required">This is a required field</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.password.$error.minlength">Minimum length required is 5</span>
						<span style="color:red"  ng-show="employee.$dirty && employee.password.$invalid">This field is invalid </span>
                      </span>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-options="sts.STATUS_LABEL for sts in statuslistoptions track by sts.STATUS_CODE" ng-model="status" required name="status" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                          <option value="" disabled>Select Status</option>
                        </select>
                        <span class="errormess"></span>
                      </div>
                    </div> -->

                    <!-- <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Has Flow Design Access<span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-options="fd.LABEL for fd in flowdesignlistoptions track by fd.VALUE" ng-model="flowdesign" required name="flowdesign" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                          <option value="" disabled>Select Flow access</option>
                        </select>
                        <span class="errormess"></span>
                      </div>
                    </div> -->

                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 move-center">
					  <button type="submit" class="btn btn-success" ng-click="validateForm()" ng-disabled="employee.$invalid">Submit</button>
                        <button type="button" class="btn btn-primary" ng-click="manageEmployee()">Cancel</button>
                        
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      </div>
    </div>
    <!-- footer content -->
 <footer class="manualCapitalize">
    <a class="foot-link" href="#">
      <img src="images/logo/logo-3.PNG" alt="footer_logo">
    </a>
    &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
  </footer>
    <!-- /footer content -->
  </div>
  <!-- Modal -->
  <div id="alertModelBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Touchpoint</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 nopadding">
                          <p>{{alertMessage}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="closeTempEditor">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div data-toggle="modal" data-target="#alertModelBox" id="alertModelBoxBtn"></div>
  <script src="js/config.js" type="text/javascript"></script>
  <script src="js/pages/bank.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="js/custom.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="js/angular-datepicker.js"></script>
  
</body>

</html>