<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Touch Point | Bank Manager</title>
<!--    Support for Datepicker-->
<script src="js/jquery.min.js"></script>
<!--    Support for Datepicker-->
<script src="js/Angular/angular.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/custom-2.css" rel="stylesheet">
<link href="css/rwd.css" rel="stylesheet">
<link href="css/validation.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery-ui.css">
<script src="jslider/js/jquery.jSlider.min.js"></script>
<!--    Required for datepicker-->
<script src="js/bower_components/ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="js/bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">
<!--    Required for Datepicker-->
<!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
<link rel="stylesheet" type="text/css" href="jslider/css/jSlider.css" />
</head>

<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class=" clearfix"></div>
      <div class="x_panel" style="padding:0;">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 rm_pad"> 
          <!-- Custom Tabs -->
          
          <div class="nav-tabs-custom nav_new_box x-panel">
            <ul class="nav nav-tabs nav_color">
              <li class="active" ng-click="changeListng('officer', 'officerChartList')"><a data-toggle="tab" href="#tab_1" aria-expanded="true"><span class="officer_icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <div style="display: inline-block;">Officer</div>
                </a></li>
              <li class="" ng-click="changeListng('date', 'dateChartList')"><a data-toggle="tab" href="#tab_2" aria-expanded="false"><span class="date_icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                <div style="display: inline-block;" >Date</div>
                </a></li>
              <li class="" ng-click="changeListng('product', 'productChartList')"><a data-toggle="tab" href="#tab_3" aria-expanded="false"><span class="product_icon"><i class="fa fa-tag" aria-hidden="true"></i></span>
                <div style="display: inline-block;">Product</div>
                </a></li>
            </ul>
            <div class="tab-content" style="padding-bottom: 0px;">
              <div id="tab_1" class="tab-pane active">
                <div class="pad_20">
                  <form method="post" action="#" class="col-md-4 col-xs-12">
                    <div class="input-group col-md-10 col-sm-6 col-xs-12 inpt-width">
                      <input type="daterange" readonly class=" form-control" ng-model="date" ranges="ranges" id="ng-bs-date" ng-change="LoadPieJson(1)">
                      <!--                  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">--> 
                      </div>
                  </form>
                </div>
                <p class="clps_all"> <a class="butt-cor btn btn-primary btn-xs push-right collapseAll" href="#" data-activeChart="officerChartList">Collapse All</a> </p>
                <div class="officerChartList col-xs-12 col-sm-12 col-md-12"></div>
                <div class="clearfix"></div>
              </div>
              <!-- /.tab-pane -->
              <div id="tab_2" class="tab-pane">
                <div class="pad_20">
                  <form method="post" action="#" class="col-md-4 col-xs-12">
                    <div class="input-group col-md-10 col-sm-6 col-xs-12 inpt-width">
                      <input type="daterange" readonly class=" form-control" ng-model="date" ranges="ranges" id="ng-bs-date" ng-change="LoadPieJson(1)">
                      <!--                  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">--> 
                       </div>
                  </form>
                </div>
                <p class="clps_all"> <a class="butt-cor btn btn-primary btn-xs push-right collapseAll" href="#" data-activeChart="dateChartList">Collapse All</a> </p>
                <div class="dateChartList col-xs-12 col-sm-12 col-md-12"></div>
                <div class="clearfix"></div>
              </div>
              <!-- /.tab-pane -->
              <div id="tab_3" class="tab-pane">
                <div class="pad_20">
                  <form method="post" action="#" class="col-md-4 col-xs-12 textinp">
                    <div class="input-group col-md-10 col-sm-6 col-xs-12 inpt-width">
                      <input type="daterange" readonly class=" form-control" ng-model="date" ranges="ranges" id="ng-bs-date" ng-change="LoadPieJson(1)">
                      <!--                  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">--> 
                       </div>
                  </form>
                </div>
                <p class="clps_all"> <a class="butt-cor btn btn-primary btn-xs push-right collapseAll" href="#" data-activeChart="productChartList">Collapse All</a> </p>
                <div class="productChartList col-xs-12 col-sm-12 col-md-12"></div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- /.tab-pane --> 
          </div>
          <!-- /.tab-content --> 
        </div>
        <!-- nav-tabs-custom --> 
      </div>
    </div>
  </div>
  <!--first time search problem solved below two hidden fields-->
  <input type="hidden" name="product_count" id="product_count" value="1">
  <input type="hidden" name="data_count" id="data_count" value="1">
  <!--first time search problem solved below two hidden fields--> 
  <!-- footer content -->
  <footer class="manualCapitalize"> <a class="foot-link" href="#"> <img src="images/logo/logo-3.PNG" alt="footer_logo"> </a> &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved. </footer>
  
  <!-- /footer content --> 
  
</div>
<!-- /page content -->
</div>
</div>
<script src="js/jquery-ui.js"></script> 
<script src="js/input_mask/jquery.inputmask.js"></script> 
<script src="js/knob/jquery.knob.min.js"></script> 
<script src="js/ion_range/ion.rangeSlider.min.js"></script> 
<script src="js/config.js" type="text/javascript"></script> 
<script src="js/pages/bank-manager.js" type="text/javascript"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script type="text/javascript" src="js/addminus.js"></script> 
<script type="text/javascript" src="js/angular-route.min.js"></script> 
<script src="js/custom.js"></script> 
<!-- Required for Date picker --> 
<script src="js/bower_components/moment/moment.js"></script> 
<script src="js/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script> 
<!--  Required for Date picker--> 
<script>
    $(function () {
      $("#range_27").ionRangeSlider({
        type: "double",
        min: 1000000,
        max: 2000000,
        grid: true,
        force_edges: true
      });
      $("#range").ionRangeSlider({
        hide_min_max: true,
        keyboard: true,
        min: 0,
        max: 5000,
        from: 1000,
        to: 4000,
        type: 'double',
        step: 1,
        prefix: "$",
        grid: true
      });
      $("#range_25").ionRangeSlider({
        type: "double",
        min: 1000000,
        max: 2000000,
        grid: true
      });
      $("#range_26").ionRangeSlider({
        type: "double",
        min: 0,
        max: 10000,
        step: 500,
        grid: true,
        grid_snap: true
      });
      $("#range_31").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from: 30,
        to: 70,
        from_fixed: true
      });
      $(".range_min_max").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from: 30,
        to: 70,
        max_interval: 50
      });
      $(".range_time24").ionRangeSlider({
        min: +moment().subtract(12, "hours").format("X"),
        max: +moment().format("X"),
        from: +moment().subtract(6, "hours").format("X"),
        grid: true,
        force_edges: true,
        prettify: function (num) {
          var m = moment(num, "X");
          return m.format("Do MMMM, HH:mm");
        }
      });
    });
  </script> 
<!-- /ion_range --> 
<!-- knob --> 
<script>
    $(function ($) {

      $(".knob").knob({
        change: function (value) {
          //console.log("change : " + value);
        },
        release: function (value) {
          //console.log(this.$.attr('value'));
          console.log("release : " + value);
        },
        cancel: function () {
          console.log("cancel : ", this);
        },
        /*format : function (value) {
             return value + '%';
             },*/
        draw: function () {

          // "tron" case
          if (this.$.data('skin') == 'tron') {

            this.cursorExt = 0.3;

            var a = this.arc(this.cv) // Arc
              ,
              pa // Previous arc
              , r = 1;

            this.g.lineWidth = this.lineWidth;

            if (this.o.displayPrevious) {
              pa = this.arc(this.v);
              this.g.beginPath();
              this.g.strokeStyle = this.pColor;
              this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, pa.s, pa.e, pa.d);
              this.g.stroke();
            }

            this.g.beginPath();
            this.g.strokeStyle = r ? this.o.fgColor : this.fgColor;
            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, a.s, a.e, a.d);
            this.g.stroke();

            this.g.lineWidth = 2;
            this.g.beginPath();
            this.g.strokeStyle = this.o.fgColor;
            this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false);
            this.g.stroke();

            return false;
          }
        }
      });

      // Example of infinite knob, iPod click wheel
      var v, up = 0,
        down = 0,
        i = 0,
        $idir = $("div.idir"),
        $ival = $("div.ival"),
        incr = function () {
          i++;
          $idir.show().html("+").fadeOut();
          $ival.html(i);
        },
        decr = function () {
          i--;
          $idir.show().html("-").fadeOut();
          $ival.html(i);
        };
      $("input.infinite").knob({
        min: 0,
        max: 20,
        stopper: false,
        change: function () {
          if (v > this.cv) {
            if (up) {
              decr();
              up = 0;
            } else {
              up = 1;
              down = 0;
            }
          } else {
            if (v < this.cv) {
              if (down) {
                incr();
                down = 0;
              } else {
                down = 1;
                up = 0;
              }
            }
          }
          v = this.cv;
        }
      });
    });
  </script>
</body>
</html>