<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Touch Point</title>
  <!--    Support for Datepicker-->
  <script src="js/jquery.min.js"></script>
  <!--    Support for Datepicker-->
  <script src="js/Angular/angular.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/custom-2.css" rel="stylesheet">
  <link href="css/rwd.css" rel="stylesheet">
  <link href="css/validation.css" rel="stylesheet">
  <!--    Required for datepicker-->
  <script src="js/bower_components/ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="js/bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">
  <!--    Required for Datepicker-->

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
  <style>
.tooltip_text1 > a {
	z-index: 1;
}
.show-calendar {
	left: 660px !important;
}
</style>
  </head>

  <body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
<div class="main_container">
    <div class="col-md-3 left_col">
    <div id="sideMenu"></div>
  </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    <!-- page content -->
    <div class="right_col" role="main">
    <div class="clearfix"></div>
    <div class="row tile_count">
    	<div class="col-md-12 col-xs-12 col-sm-12">
        <div class="x_panel">
        <div class="x_title">
            <h2>Welcome <span style="color: #73879C !important">{{customerlName}}, {{customerName}}! </span></h2>
            <p class="tody-dat">{{thisDate | date: "EEEE, MMM dd, y"}}</p>
            <div class="clearfix"></div>
          </div>
        <div class="cust_id_name">
            <div class="welcome_botm">
            <div class="input-group form-horizontal">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                <label class="col-md-4 campaign_s" style="margin:0;">campaigns</label>
                <div class="col-md-8 col-sm-8 col-xs-9">
                    <select class="form-control" ng-options="b.CAMPAIGN_NAME for b in campaignlistoptions track by b.CAMPAIGN_ID" ng-model="campaignlist" required name="campaignlist" ng-change="getTouchPoints()">
                  </select>
                  </div>
              </div>
                <div class="col-md-6 col-xs-12 col-sm-6 move-top-bot">
                <label class="col-md-2  campaign_s move-rigt" style="margin:0;">date</label>
                <div class="input-group col-md-6 inpt-width1">
                    <input readonly  type="daterange" class="input-bg input-mov form-control" ng-model="date" ranges="ranges" id="ng-bs-date" >
                    <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">--> 
                    </div>
                <!--
                <div class="col-md-6 col-sm-6 col-xs-12 rm_pad datepick move-bottom2">
                 <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                  <input type="daterange" class="input-mov" ng-model="date" ranges="ranges" ng-change="getTouchPoints()">
                </div>--> 
              </div>
              </div>
          </div>
          </div>
        <div class="col-md-12 col-xs-12  center_the_box bot_widgets ">
            <div class="col-md-8 col-xs-12 rm_pad">
            <div class="x_panel">
                <div class="box1 box-primary reset_border day-fn" ng-repeat='y in touchpointList'>
                <div class="right_minmax_left" ng-click="showHideTouchpoint(y.TOUCHPOINT_ID);"><i class="fa fa-minus tpPlusMinus_{{y.TOUCHPOINT_ID}}"></i></div>
                <div class="box-header cnt">
                    <div class="x_title_adjst">
                    <h2>{{y.TOUCHPOINT_NAME}} <span> Summary <span style="text-transform:lowercase; float:none;">for</span> {{ y.DATE_ADDED.toString().substr(0, 10) | date:"EEEE, MMM d, y" }} {{ y.DATE_ADDED.toString().substr(11).substr(0,8) | customDateFilter }}</span></h2>
                    <div class="clearfix"></div>
                  </div>
                  </div>
                <div class="box-body custom_align_body tpLists_{{y.TOUCHPOINT_ID}}">
                    <div class="backround-colr" ng-repeat='yc in y.COMMUNICATIN_DATA'>
                    <div class="box_wrapper_1 f_l comSend_{{yc.COMMUNICATION_ID}}">
                        <div ng-repeat='ycr in yc.RESPONSE_DATA | filter:query as filtered' class="block_2 f_l">
                        <div ng-if='$first'>
                            <div class="block_1 f_l"> {{yc.CAMMUNICATION_NAME}}&nbsp; </div>
                            Sent <span style="text-transform:lowercase">to</span>
							<span class="tol-tip" style="width:auto; cursor:pointer; font-weight:bold; background: none;display: inline;  color:#ffffff; height: auto;text-transform:capitalize;padding: 0px 10px;position: relative;text-align: center;text-overflow: ellipsis;white-space: nowrap;margin:0px 0px;width: auto;">{{filtered.length}}
                          <div class="tooltip_text1"> <i   ng-repeat='ycrn in yc.RESPONSE_DATA'><a  href="customer-touchpoints.html?id={{ycrn.CUSTOMER_ID}}">{{ycrn.CUSTOMER_LNAME}}, {{ycrn.CUSTOMER_FNAME}}</a> <br/>
                            </i> </div>
                          </span> Customers
                            <div class="block_3 f_l"> </div>
                          </div>
                      </div>
                      </div>
                    <div class="clearfix"></div>
                    <!--                    </span> {{ y.DATE_ADDED.toString().substr(0, 10) | date:"EEEE, MMM d, y" }} {{ y.DATE_ADDED.toString().substr(11).substr(0,8) | customDateFilter }}</span>-->
                    
                    <div class="box_wrapper_2 comLeads_{{yc.COMMUNICATION_ID}}">
                        <div ng-repeat='ycr in yc.RESPONSE_DATA' class="function_s"> <span> <i ng-if='ycr.IS_LEAD == "true"'><a style="color:#fff;" href="customer-touchpoints.html?id={{ycr.CUSTOMER_ID}}">{{ycr.CUSTOMER_LNAME}}, {{ycr.CUSTOMER_FNAME}}</a> <span style="text-transform:lowercase">says:</span> {{ycr.CUSTOMER_RESPONSE}} <span style="text-transform:lowercase">on</span> {{ ycr.UPDATED_ON.substr(0,10) | date: "EEEE, MMM d, y"}} {{ ycr.UPDATED_ON.toString().substr(11).substr(0,8) | customDateFilter}} <br/>
                        </i> </span> </div>
                      </div>
                    <div class="box_wrapper_3 comLoans_{{yc.COMMUNICATION_ID}}"> <span ng-repeat='ycr in yc.LEADS_DATA'> <span class="email-colr;text-transform:lowercase" ><a href="customer-touchpoints.html?id={{ycr.CUSTOMER_ID}}">{{ycr.CUSTOMER_LNAME}}, {{ycr.CUSTOMER_FNAME}}</a></span> <span class="datepic-colr">signed up for <span style="text-transform:capitalize;">{{ycr.PRODUCT_NAME}}</span> on </span> <span> {{ycr.DATE_ADDED_FMTED}} </span> <span class="date-icon-clr"> the loan amount is {{ycr.LEAD_TEXT | currency:"$":0}}<br/>
                      </span> </span> </div>
                  </div>
                  </div>
              </div>
                <div class="no_data_found" ng-show="!touchpointList.length">
                <p>oops !</p>
                <p>no data found ! !</p>
              </div>
              </div>
          </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="x_panel charts">
                <div class="no_data_found" ng-show="!touchpointList.length">
                <p>oops !</p>
                <p>no data found ! !</p>
              </div>
                <div ng-show="touchpointList.length">
                <div class="x_title">
                      <h2 class="my-custoar" style="color:#7566CD;">My Customers</h2>
                    <div class="my-cust-adjst">
                    <input type="text" placeholder="Search for customer" class="form-control custmr_search" ng-model="searchKey">
                  </div>
                    <div class="clearfix"></div>
                  </div>
                <div class="x_content">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="col-md-6 col-xs-6 col-sm-6 days-old-move">
                        <h4>Days Old</h4>
                      </div>
                    <div class="col-md-6 col-xs-6 col-sm-6 cust-name">
                        <h4>Customer Name</h4>
                      </div>
                  </div>
                    <ul class="list-unstyled timeline">
                    <li ng-repeat='y in touchpointList[0].MY_CUSTOMERS | filter: searchKey'>
                        <div class="block">
                        <div class="tags"> <a href="customer-touchpoints.html?id={{y.CUSTOMER_ID}}" class="tag"> <span style="" ng-show="y.CREATED_ON_DIFF >= 2">{{y.CREATED_ON_DIFF}}</span> <span style="" ng-show="y.CREATED_ON_DIFF <= 1">{{y.CREATED_ON_DIFF}}</span> <span class="arrow_Set"><i class="fa fa-angle-right"></i></span> </a> </div>
                        <div class="block_content">
                             {{CUSTOMER_JOINING_DATE}}<h2 class="title"> <a href="customer-touchpoints.html?id={{y.CUSTOMER_ID}}">{{y.CUSTOMER_LNAME}}, {{y.CUSTOMER_FNAME}}</a> </h2>
                          </div>
                      </div>
                      </li>
                  </ul>
                  </div>
              </div>
              </div>
          </div>
          </div>
        <!--page content --> 
        <!-- second section--> 
      </div>
      </div>
      </div>
    <!-- /page content --> 
  </div>
    
    <!-- footer content -->
    <footer class="manualCapitalize"> <a class="foot-link" href="#"> <img src="images/logo/logo-3.PNG" alt="footer_logo"> </a> &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved. </footer>
    <!-- /footer content --> 
  </div>
<script src="js/config.js" type="text/javascript"></script> 
<script src="js/pages/customer-campaigns.js" type="text/javascript"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script type="text/javascript" src="js/angular-route.min.js"></script> 
<script type="text/javascript" src="js/angular-datepicker.js"></script> 
<script src="js/custom.js"></script> 
<!-- Required for Date picker --> 
<script src="js/ion_range/ion.rangeSlider.min.js"></script> 
<script src="js/bower_components/moment/moment.js"></script> 
<script src="js/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script> 
<script src="js/ion_range/ion.rangeSlider.min.js"></script> 
<!--  Required for Date picker-->

</body>
</html>