<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Touch Point | Manage Customers</title>
<script src="js/Angular/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/rwd.css" rel="stylesheet">
<script src="js/custom.js"></script> 
<link href="css/validation.css" rel="stylesheet">
<!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
<link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
</head>

<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
  <div class="main_container">
  <div class="col-md-3 left_col">
		<div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
        <div class="page-title">
          <div class="title_left">
            <h3>MANAGE CUSTOMERS</h3>
          </div>
  
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>{{title}}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content"> <br />
                <form id="demo-form2" class="form-horizontal form-label-left" novalidate name="customer">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bank_name">Bank<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="o.BANK_NAME for o in banklistoptions track by o.BANK_CODE" ng-model="banklist" ng-change="getBranchList()" required name="banklist">
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branchlist">Branch<span class="">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="b.BRANCH_NAME for b in branchlistoptions track by b.BRANCH_CODE" ng-model="branchlist" ng-change="getEmployeeList()" required name="branchlist">
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="employeelist">Employee<span class="">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="c.EMPLOYEE_NAME for c in employeelistoptions track by c.EMPLOYEE_ID" ng-model="employeelist" required name="employeelist">
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				 
				 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="account">Account Type<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="acc.ACCOUNT_LABEL for acc in acclistoptions track by acc.ACCOUNT_NAME" ng-model="account" name="account" required>
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email Address <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="email" id="email" required class="form-control col-md-7 col-xs-12" name="email" ng-model="email" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,5}$/"><br />
					  <span style="color:red" ng-show="customer.email.$dirty && customer.email.$invalid">
					  <span ng-show="customer.email.$error.email">Invalid email address.</span>
					  <span ng-show="customer.email.$error.pattern">mail must be right pattern. ex:(manims92@gmail.com)</span></span>
                    </div>
                  </div>

				  <div class="form-group">
                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first_name">First Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="first_name" class="form-control col-md-7 col-xs-12" ng-model="first_name" name="first_name" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[a-zA-Z]+$/" required>
					  <span style="color:red" ng-show="customer.first_name.$dirty && customer.first_name.$invalid">
						
						<span ng-show="customer.first_name.$error.pattern">Name must be Letters.</span>
						
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Last Name<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="last_name" required class="form-control col-md-7 col-xs-12" ng-model="last_name" name="last_name">
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="occupation">Occupation<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="occupation" required class="form-control col-md-7 col-xs-12" ng-model="occupation" name="occupation">
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="doj">Date Of Joining<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
					<datepicker
							  date-format="MM/dd/yyyy"
							  date-min-limit="1950/01/01"
							  button-prev='<i class="fa fa-arrow-circle-left"></i>'
							  button-next='<i class="fa fa-arrow-circle-right"></i>'>
                      <input type="text" id="doj" required class="angular-datepicker-input form-control col-md-7 col-xs-12" ng-model="doj" name="doj">
					 </datepicker>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phno">Phone Number<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="phno" required class="form-control col-md-7 col-xs-12" ng-model="phno" name="phno">
					  <span class="errormess"></span>
                    </div>
                  </div>
				  
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mono">Mobile Number<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="mono" required class="form-control col-md-7 col-xs-12" ng-model="mono" name="mono" ng-minlength="10" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" required><br />
					  <span style="color:red" ng-show="customer.mono.$dirty && customer.mono.$invalid">
						<span ng-show="customer.mono.$error.required">Phone is required.</span>
						<span ng-show="customer.mono.$error.pattern">Phone must be numeric.</span>
						<span ng-show="customer.mono.$error.minlength">Phone must be min 10 char.</span></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dob">Date Of Birth<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
					<datepicker
							  date-format="MM/dd/yyyy"
							  date-min-limit="1950/01/01"
							  button-prev='<i class="fa fa-arrow-circle-left"></i>'
							  button-next='<i class="fa fa-arrow-circle-right"></i>'>
                      <input type="text" id="dob" required class="angular-datepicker-input form-control col-md-7 col-xs-12" ng-model="dob" name="dob">
					  </datepicker>
					  <span class="errormess"></span>
                    </div>
                  </div>
				 <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="gen.GENDER_LABEL for gen in genderlistoptions track by gen.GENDER_NAME" ng-model="gender" name="gender" required>
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="country">Zone<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="cc.COUNTRY_NAME for cc in countrylistoptions track by cc.COUNTRY_CODE" ng-model="country" ng-change="getStates()" name="country" required>
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">State<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <select class="form-control" ng-options="sc.STATE_NAME for sc in statelistoptions track by sc.STATE_CODE" ng-model="state" name="state" required>
                      </select>
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="city">City<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="city" required class="form-control col-md-7 col-xs-12" ng-model="city" name="city">
					  <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="address" required class="form-control col-md-7 col-xs-12" ng-model="address" name="address">
            <!--<span class="errormess">{{errormess}}</span>-->
            <span class="errormess"></span>
                    </div>
                  </div>
				  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="zip">ZIP Code<span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="zip" required class="form-control col-md-7 col-xs-12" ng-model="zip" name="zip" ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[0-9]+$/" >
					  <span style="color:red" ng-show="customer.zip.$dirty && customer.zip.$invalid">
					  <span ng-show="customer.zip.$error.required">Zipcode is required.</span>
					  <span ng-show="customer.zip.$error.pattern">Zipcode must be numeric.</span>
					  <span ng-show="customer.zip.$error.minlength">Zipcode must be min 6 char.</span>
					  </span>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="button" class="btn btn-primary" ng-click="manageCustomer()">Cancel</button>
                      <button type="submit" class="btn btn-success" ng-click="validateForm()" ng-disabled="customer.banklist.$invalid || customer.branchlist.$invalid || customer.employeelist.$invalid || customer.account.$invalid || customer.email.$invalid || customer.first_name.$invalid || customer.last_name.$invalid || customer.occupation.$invalid || customer.doj.$invalid || customer.phno.$invalid || customer.mono.$invalid || customer.dob.$invalid || customer.gender.$invalid || customer.country.$invalid || customer.state.$invalid || customer.city.$invalid || customer.address.$invalid || customer.zip.$invalid">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content --> 
    </div>
  </div>
     <!-- footer content -->
    <footer class="manualCapitalize">
      <a href="#" style="float:left">
        <img src="images/logo/logo-3.PNG" alt="footer_logo">
      </a>
      &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
    </footer>
    <!-- /footer content --> 
</div>
<!-- Modal -->
<div id="alertModelBox" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Touchpoint</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_content">
					<div class="container-fluid">
						<div class="row">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 nopadding">
									<p>{{alertMessage}}</p>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeTempEditor">Close</button>
      </div>
    </div>
  </div>
</div>
<div data-toggle="modal" data-target="#alertModelBox" id="alertModelBoxBtn"></div>
<script src="js/config.js" type="text/javascript"></script>
<script src="js/pages/customer.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script type="text/javascript" src="js/angular-route.min.js"></script> 
<script type="text/javascript" src="js/angular-datepicker.js"></script>
</body>
</html>