<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Touch Point</title>
<script src="js/Angular/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/custom-2.css" rel="stylesheet">
<link href="css/validation.css" rel="stylesheet">
<link href="css/rwd.css" rel="stylesheet">
<!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="bxslider/jquery.bxslider.min.js"></script>
<link href="bxslider/jquery.bxslider.css" rel="stylesheet" />
<script>
</script>
</head>
<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="clearfix"></div>
      <div class="row tile_count">
      <div class="x_panel">
      <div class="x_title">
        <div class="col-md-12 col-xs-12">          
            <div class="pull-left client_name text-orange">{{ customerLName+ ', ' +customerFName}}</div>
            <div class="pull-left client_name text-orange">Account Number {{ ' ' +customerId }}</div>
          <div class="pull-left text-orange cust_id_text">Account<span style="text-transform:lowercase;color:#614FCD;"> opened on</span> <span class="manualCapitalize" style="color:#614FCD;">{{customerDOJ}}</span></div>            
          </div>
          <div class="clearfix"></div>
        </div>               
        <div class="col-md-12 center_the_box timeline_width767">
          <ul class="ul_timeline bxslider">
            <li id="hover_wrap" class="raw" ng-click='loadTouchpoint1($index)' ng-repeat='z in touchpoint'>
              <div class="day_list_timeline chge">{{ z.TOUCHPOINT_NAME }}</div>
              <div id="wrap_hover">{{ z.TOUCHPOINT_NAME }}</div>
              <div style="float:right;width:100px;background:#000;" ng-if="!$last"></div>
            </li>
          </ul>
        </div> 
        <div class="col-md-12 col-xs-12 col-sm-12 center_the_box bot_widgets">
          <div class="box1 box-primary reset_border padd-move" ng-repeat='y in responseList'>
            <div style="border-bottom: 1px solid #cacaca;" class="box-header cnt">
              <h3 class="box-title text-orange text-cor">{{y.COMMUNICATION_TITLE}} | {{y.JOINING_DATE | date:"EEEE, MMM dd, y"}} </h3>
            </div>
            <div class="box-body custom_align_body bord-bottm">
              <p>{{ customerLName+ ', ' +customerFName}} Says:<span class="manualCapitalize">{{y.STATUS_TEXT.toString().substr(11)}}</span>
               <span ng-repeat='ycr in y.LEADS_DATA' ><br/>
                 {{ycr.PRODUCT_NAME}} {{ycr.LEAD_TEXT | currency : "$":0}} <span style="text-transform:capitalize"><span style="text-transform:lowercase">to</span> customer</span>
                 <span class="email-colr1" style="text-transform:capitalize;">{{ycr.CUSTOMER_LNAME}}, {{ycr.CUSTOMER_FNAME}}</span>
                </span>
                 <span class="addleadd"></span> 
                 </p>
            </div>
			<form>
            <div class="box-footer no-border padd-top">
              <div class="col-md-4 col-xs-12 pro-duct">
                <select class="form-control" ng-options="b.PRODUCT_NAME for b in productlistoptions track by b.PRODUCT_ID" ng-model="productlist" required name="productlist" >
                  <option value="">Select Product</option>
                </select>
              </div>
              <div class="col-md-4 col-xs-12 mar-top"> <span class="pull-left" style="margin-top:5px;margin-right:10px;font-weight:bold;">$</span>
                <input type="text" class="form-control chg-cor pull-left" name="amount" ng-model="y.leadText" placeholder="Enter Amount" style="width:93%; text-transform:capitalize !important;" numbers-only/>
              </div>
              <div class="move-center">
              <div class="col-md-1 col-xs-4 col-sm-4 mov-top">
                <input type="button" class="btn btn-success manualCapitalize" value="Submit" ng-click="addLead(y.COMMUNICATION_ID,y.BANK_CODE,y.BRANCH_CODE,productlist.PRODUCT_ID,y.EMPLOYEE_ID,y.leadText,productlist.PRODUCT_NAME)">
              </div>
              <div class="col-md-1 col-xs-4 col-sm-4 mov-top">
                <input  type="reset" class="btn btn-primary manualCapitalize" value="Clear">
              </div>
              </div>
			  </form>
            </div>
          </div>
        </div>
        </div>
      </div>       
    </div>
  </div>
  <!--page content --> 
  <!-- second section--> 
  
  <!-- footer content -->
  <footer class="manualCapitalize">
    <a class="foot-link" href="#">
      <img src="images/logo/logo-3.PNG" alt="footer_logo">
    </a>
    &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
  </footer>
  
  <!-- /footer content --> 
  
</div>
<!-- /page content -->
</div>
</div>

<!-- Modal -->
<div id="addProductModel" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New Product</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_content">
              <div class="container-fluid">
                <div class="row">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 nopadding">
                        <form name="product">
                          <input type="text" id="product-name" required class="form-control col-md-12 col-xs-12" ng-model="productname" name="productname">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="margin-left:10px;" class="btn btn-primary pull-right" ng-click="addNewProduct()" ng-disabled="product.productname.$invalid">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeProdutAdd">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="js/config.js" type="text/javascript"></script> 
<script src="js/pages/customer-touchpoints.js" type="text/javascript"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script src="js/custom.js"></script>
<script>
$(document).ready(function(){
    $('.bx-prev').bxSlider({
        pager: false
    });
});
</script>
</body>
</html>