 <!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Touch Point | Manage Employees</title>
    <script src="js/Angular/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/custom-2.css" rel="stylesheet">
    <link href="css/rwd.css" rel="stylesheet">
    <link href="css/validation.css" rel="stylesheet">
    <script src="js/bower_components/checklist-model/checklist-model.js"></script>
    <!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">

  </head>

  <body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">

    <div id="loader"></div>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div id="sideMenu"></div>
        </div>
        <!-- top navigation -->
        <div id="topMenu"></div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="x_panel">
              <div class="page-title">
                <div class="title_left">
                  <!-- <h3>Manage Employees</h3>-->
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_title">
                    <h2>{{title}}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" class="form-horizontal form-label-left" novalidate name="employee">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="bank_name">Bank Name<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" style="background:none;" id="banklist" disabled readonly required class="form-control col-md-7 col-xs-12" ng-model="banklist" name="banklist" onload="getBranchList()">
                          <!--<select class="form-control" ng-options="o.BANK_NAME for o in banklistoptions track by o.BANK_CODE" ng-model="banklist" ng-change="getBranchList()" required name="banklist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
</select>-->
                          <span class="errormess"></span>
                        </div>
                      </div>
                      <div class="form-group" ng-show="hideForBankAdmin">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branchlist">Branch<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" ng-options="b.BRANCH_NAME for b in branchlistoptions track by b.BRANCH_CODE" ng-model="branchlist" required name="branchlist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
                            <option value="" disabled>Select Branch</option>
                          </select>
                          <span class="errormess"></span>
                        </div>
                      </div>

                      <div class="form-group add-role" style="display:none;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="rolelist">Role<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select  class="form-control" ng-options="c.ROLE_NAME for c in rolelistoptions track by c.ROLE_ID" ng-model="rolelist" required name="rolelist" id="rolelist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;" ng-change="showForHOR()">
                            <option value="" disabled>Select Role</option>
                          </select>
                          <span class="errormess"></span>
                        </div>
                      </div> 

					  <div class="form-group edit-role" style="display:none;" >
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 padd-toping" for="rolelist">Role<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <label style="font-weight: normal; background:none;" disabled readonly class="form-control col-md-7 col-xs-12">{{roleliste}}</label>                      
                          <span class="errormess"></span>
                        </div>
                      </div>
					  
                      <div class="form-group" ng-show="showSelectForHOR">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 padd-toping" for="rolelist">Select Branches<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
			
                          <label ng-repeat="branch in unassignedlist" ng-show="unassignedlistHOR">
                            <input type="checkbox" checklist-value="branch.BRANCH_CODE" checklist-model="branches.selected"> {{branch.BRANCH_NAME }}  &nbsp                           
                          </label>
                         <!--  <h4>{{branchlistoptions}}</h4>
                           <h4>{{branchlistselectedhor}}</h4>-->
                          <label class="" ng-repeat="branch in branchlistoptions" ng-show="!unassignedlistHOR">
                            <input ng-checked="branchlistselectedhor.indexOf(branch.BRANCH_CODE) > -1 " type="checkbox" checklist-value="branch.BRANCH_CODE" checklist-model="branches.selected"> {{branch.BRANCH_NAME }}    &nbsp                            
                          </label>
						  
						  
                          <!--
<label ng-repeat="branch in branchlistoptions">
<input type="checkbox" checklist-value="branch.BRANCH_CODE" checklist-model="branches.selected"> {{branch.BRANCH_NAME }}
<span style="padding-left:10px"></span>
</label>
-->
                          <!--                        <div>{{branches.selected}}</div>-->
                          <!--
<select class="form-control" ng-options="b.BRANCH_NAME for b in branchlistoptions track by b.BRANCH_CODE" ng-model="branchlist" required name="branchlist" style="border-color:#ddd !important; box-shadow:0 0 3px #ddd !important;">
<option value="" disabled>Select Branch</option>
</select>
-->
                          <label>
                          </label>
                        </div>
                      </div>
					  
                      <div class="form-group" ng-show="showSelectForBO">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 padd-toping" for="rolelist">Select Branches<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 ">
                          <label ng-repeat="branch in branchlistoptions">
                            <input type="radio" name="branchForBO" ng-model="branches.selected" value="{{branch.BRANCH_CODE}}"> {{branch.BRANCH_NAME }} &nbsp 
                            <span style="padding-left:10px"></span>
                          </label>
                          <!--                        <div>{{branches.selected}}</div>-->
                          <label>
                          </label>
                        </div>
                      </div>
                      <div class="form-group" ng-show="showSelectForBM">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 padd-toping" for="rolelist">Select Branches<span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <label ng-repeat="branch in unassignedlist" ng-show="unassignedlistBM">
                            <input type="radio" name="branchForBM" ng-model="branches.selected" value="{{branch.BRANCH_CODE}}"> {{branch.BRANCH_NAME }} &nbsp 
                            <span style="padding-left:10px"></span>
                          </label>
                          <label ng-repeat="branch in branchlistoptions" ng-show="!unassignedlistBM">
                            <input type="radio" name="branchForBM" ng-model="branches.selected" value="{{branch.BRANCH_CODE}}"> {{branch.BRANCH_NAME }} &nbsp 
                            <span style="padding-left:10px"></span>
                          </label>
                          <!--                        <div>{{branches.selected}}</div>-->
                          <label>
                            </div>
                        </div>

                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first_name">First Name <span class="required">*</span> </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="first_name" class="form-control col-md-7 col-xs-12" ng-model="first_name" name="first_name" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[a-zA-Z]+$/" required placeholder="First Name">
                            <span style="color:red" ng-show="employee.first_name.$dirty && employee.first_name.$invalid">
                              <span ng-show="employee.first_name.$error.pattern">Invalid character found in first name</span>
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last_name">Last Name<span class="required">*</span> </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="last_name" required class="form-control col-md-7 col-xs-12" ng-model="last_name" name="last_name" placeholder="Last Name" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[a-zA-Z]+$/" required placeholder="First name">
                            <span style="color:red" ng-show="employee.last_name.$dirty && employee.last_name.$invalid">
                              <span ng-show="employee.last_name.$error.pattern">Invalid character found in first name</span>
                            </span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email Address <span class="required">*</span> </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="email" id="email" required class="form-control col-md-7 col-xs-12" name="email" ng-model="email" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,5}$/" placeholder="Email Address" autocomplete="off">
                            <br />

                            <span style="color:red" ng-show="employee.email.$dirty && employee.email.$invalid">
                              <span ng-show="employee.email.$error.email">Invalid email address.</span>
                              <span ng-show="employee.email.$error.pattern">Invalid pattern. Eg. username@domain.com</span></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span> </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="password" id="password" required class="form-control col-md-7 col-xs-12" ng-model="password" name="password" placeholder="Password" autocomplete="off">
                            <span class="errormess"></span>
                          </div>
                        </div>
                        

                        <div class="ln_solid"></div>
                        <div class="form-group">
                          <div class="col-md-12 col-sm-12 col-xs-12 move-center">
                            <button type="submit" class="btn btn-success" ng-click="validateForm()" ng-disabled="employee.$invalid">Submit</button>
							 <button type="button" class="btn btn-primary" ng-click="manageEmployee()">Cancel</button>
                            <!--<button type="submit" class="btn btn-success" ng-click="validateForm()" ng-disabled="employee.$invalid" >Submit</button>-->
                          </div>
                        </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /page content -->

          </div>
        </div>
        <!-- footer content -->
        <footer class="manualCapitalize">
    <a href="#" class="foot-link">
      <img alt="footer_logo" src="images/logo/logo-3.PNG">
    </a>
    &copy;&nbsp; Copyright <span id="dynamicYear">2016,</span> All rights reserved.
  </footer>
        <!-- /footer content -->
      </div>
      <!-- Modal -->
      <div id="alertModelBox" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Touchpoint</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12 nopadding">
                              <p>{{alertMessage}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="closeTempEditor">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div data-toggle="modal" data-target="#alertModelBox" id="alertModelBoxBtn"></div>
      <script src="js/config.js" type="text/javascript"></script>
      <script src="js/pages/employee.js" type="text/javascript"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
      <script type="text/javascript" src="js/angular-route.min.js"></script>
      <script type="text/javascript" src="js/angular-datepicker.js"></script>
      <script src="js/custom.js"></script>
      </body>

    </html>