<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Touch Point | Manage Products</title>

  <script src="js/Angular/angular.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/custom-2.css" rel="stylesheet">
  <link href="css/rwd.css" rel="stylesheet">

  <link href="css/rwd1.css" rel="stylesheet">
  <link href="css/validation.css" rel="stylesheet">
  <!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
  <div id="loader"></div>
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div id="sideMenu"></div>
      </div>

      <!-- top navigation -->
      <div id="topMenu"></div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="">
          <div class="x_panel">
            <div class="page-title">
              <div class="title_left">
                <!--<h3>Manage Products</h3>-->
              </div>

            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_title">
                  <h2>{{title}}</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content"> <br />
                  <form id="demo-form2" class="form-horizontal form-label-left" novalidate name="product">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Endpoint link <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="vEndpoint" required class="form-control col-md-7 col-xs-12" ng-model="vEndpoint" name="vEndpoint" placeholder="Place Endpoint link here">
                        <span>{{errormess}}</span>
                      </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 move-center">
                        <button type="button" class="btn btn-primary" ng-click="clearField()">Clear</button>
                        <button type="submit" class="btn btn-success" ng-click="validateForm()" ng-disabled="product.productname.$invalid">Submit</button>
                      </div>
                    </div>
                  </form>
                  <div class="ln_solid"></div>
                  
                  <form id="arrayDetails" class="form-horizontal form-label-left" novalidate name="arrayDetails">
                   
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Customer array name <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <!--<input type="text" id="vEndpoint" required class="form-control col-md-7 col-xs-12" ng-model="vEndpoint" name="vEndpoint" placeholder="Place Endpoint link here"  ng-disabled="showCusSelect">-->
                          <select class="form-control col-md-7 col-xs-12" ng-disabled="showCusSelect" ng-model="selectedRootCus" ng-options="item for item in dataItemsCus" ng-change="changeSourceData(dataItemsCus, selectedRootCus, iteration, 'customer')" >     
						  <option value="" disabled ng-click="updatedPathJSON()">Select root</option>
                          </select>
                        <span>{{errormess}}</span>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Selected path <span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <h4>{{pathCus}} <a ng-show="pathCus" href="#" ng-click="previewData('customer')"><i class="fa fa-eye"></i></a></h4>
                        </div>
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Employee array name <span class="required">*</span> </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control col-md-7 col-xs-12" ng-disabled="showEmpSelect" ng-model="selectedRootEmp" ng-options="item for item in dataItemsEmp" ng-change="changeSourceData(dataItemsEmp, selectedRootEmp, iteration, 'employee')">
                            <option value="" disabled>Select root</option>
                        </select>
                        <span>{{errormess}}</span>
                      </div>
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Selected path <span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <h4>{{pathEmp}} <a ng-show="pathEmp" href="#" ng-click="previewData('employee')"><i class="fa fa-eye"></i></a></h4>
                        </div>
                      </div>
                    </div>
						                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer Id<span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="custIdNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer Email<span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="custEmailNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Bank Id <span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="bankIdNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Branch Id <span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="branchIdNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name <span class="required">*</span></label>
<!--                 <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="firstNameNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name <span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="lastNameNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Joining<span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="DOJNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Employee Id <span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="employeeIdNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Customer Mobile No <span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                <!-- <select class="form-control">
                	<option value="empty" label=" "></option>
                </select>
                </div> -->
                <div id="mobNoNodes"></div>
                </div>
                <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Product Id <span class="required">*</span></label>
                <!-- <div class="col-md-6 col-sm-6 col-xs-12">
                 <select class="form-control">
                	<option value="empty" label=" "></option>
                </select> 
                </div> -->
                <div id="productIdNodes"></div>                
                </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 move-center">
                        <button type="button" class="btn btn-primary" ng-click="getDataFromUrl(vEndpoint)">Get Data</button>
                        <button type="button" class="btn btn-primary" ng-click="clearArrayField()">Clear</button>
                        <button type="submit" class="btn btn-success" ng-click="validateArrayDetailForm()" ng-disabled="product.productname.$invalid">Submit</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    <!-- footer content -->
    <footer class="manualCapitalize">
      <a class="foot-link" href="#">
        <img src="images/logo/logo-3.PNG" alt="footer_logo">
      </a>
      &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
    </footer>
    <!-- /footer content -->
  </div>
  <!-- Modal -->
  <div id="alertModelBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Touchpoint</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12 nopadding">
                          <p>{{alertMessage}}</p>
                          <pre>{{jsonObj}}</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="closeTempEditor">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div data-toggle="modal" data-target="#alertModelBox" id="alertModelBoxBtn"></div>
  <script src="js/config.js" type="text/javascript"></script>
  <script src="js/pages/endpoint.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="js/custom.js"></script>
</body>

</html>