<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Head_of_Retail</title>
<!--  Required for Date picker-->
<script src="js/jquery.min.js"></script>
<!--  Required for Date picker-->
<script src="js/Angular/angular.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/custom-2.css" rel="stylesheet">
<link href="css/rwd.css" rel="stylesheet">
<link href="css/validation.css" rel="stylesheet">
<link rel="stylesheet" href="css/jquery-ui.css">
<script src="jslider/js/jquery.jSlider.min.js"></script>

<!--  Required for Date picker-->
<script src="js/bower_components/ng-bs-daterangepicker/dist/ng-bs-daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="js/bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css">
<!--  Required for Date picker-->

<!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
<link rel="stylesheet" type="text/css" href="jslider/css/jSlider.css" />
</head>

<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div id="sideMenu"></div>
    </div>    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="clearfix"></div>
      <div class="x_panel" style="padding:0;">
        <div class="row rm_mar">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 rm_pad "> 
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom nav_new_box x-panel">
              <ul class="nav nav-tabs nav_color" style="border-radius:3px;">
                <li class="active" ng-click="changeListng('branch', 'branchChartList')"><a data-toggle="tab" href="#tab_1" aria-expanded="true"><span class="officer_icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                  <div style="display: inline-block;">Branch</div>
                  </a></li>
                <li ng-click="changeListng('product', 'productChartList')"><a data-toggle="tab" href="#tab_2" aria-expanded="false"><span class="product_icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                  <div style="display: inline-block;">Product</div>
                  </a></li>
                <li class="" ng-click="changeListng('customer', 'customerChartList')"><a data-toggle="tab" href="#tab_3" aria-expanded="false"><span class="product_icon" style="font-size:32px; vertical-align: sub;"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <div style="display: inline-block;" >Customer</div>
                  </a></li>
              </ul>
              <div class="tab-content" style="padding-bottom: 0px;">			  
                <div id="tab_1" class="tab-pane active">
                  <div class="pad_20">
                    <form method="post" action="#" class="col-md-4 col-xs-12">
                      <div class="input-group col-md-12 col-sm-6 col-xs-12 inpt-width">
                        <input readonly type="daterange" class="input-bg form-control" ng-model="date" ranges="ranges" id="ng-bs-date" ng-change="LoadPieJson(1)">
                        <!--<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">--> 
                        </div>
                    </form>
                 
                  </div>
                  <p class="clps_all"><a class="butt-cor btn btn-primary btn-xs push-right collapseAll" href="#" data-activeChart="branchChartList">Collapse All</a> </p>
                  <div class="branchChartList col-xs-12 col-sm-12 col-md-12" id="branchCollapse"></div>
                  <div class="clearfix"></div>
                </div>
                <!-- /.tab-pane -->
                <div id="tab_2" class="tab-pane">
                  <div class="pad_20">
                    <form method="post" action="#" class="col-md-4 col-xs-12 textinp">
                      <div class="input-group col-md-12 col-sm-6 col-xs-12 inpt-width">
                        <input type="daterange" readonly class=" form-control" ng-model="date" ranges="ranges" id="ng-bs-date" ng-change="LoadPieJson(1)">
                       
</div>					   <!--                  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">-->                         
                    </form>
                  
                   </div>
                  <p class="clps_all"><a class="butt-cor btn btn-primary btn-xs push-right collapseAll" href="#" data-activeChart="productChartList">Collapse All</a></p>
                  <div class="productChartList col-xs-12 col-sm-12 col-md-12" id="productCollapse"></div>
                  <div class="clearfix"></div>
                </div>
                <!-- /.tab-pane -->
                <div id="tab_3" class="tab-pane">
                  <div class="pad_20">
                    <form method="post" action="#" class="col-md-4 col-xs-12">
                      <div class="input-group col-md-12 col-sm-6 col-xs-12 inpt-width">
                        <input type="daterange" readonly class=" form-control" ng-model="date" ranges="ranges" id="ng-bs-date" ng-change="LoadPieJson(1)">
                        <!--                  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">-->                      
                   </div> </form>
                  
                  </div>   
                  <p class="clps_all"><a class="butt-cor btn btn-primary btn-xs push-right collapseAll" href="#" data-activeChart="customerChartList">Collapse All</a> </p>
                  <div class="customerChartList col-xs-12 col-sm-12 col-md-12" id="customerCollapse"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <!-- /.tab-pane --> 
            </div>
            <!-- /.tab-content --> 
          </div>
          </div>
          <!-- nav-tabs-custom --> 
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
</div>
</div>
  <!-- footer content -->
   <footer class="custm-fot"> <a class="foot-link" href="#"> <img src="images/logo/logo-3.PNG" alt="footer_logo"> </a> &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved. </footer>
  <!--first time search problem solved below two hidden fields-->
  <input type="hidden" name="product_count" id="product_count" value="1">
  <input type="hidden" name="cus_count" id="cus_count" value="1">
  <!--first time search problem solved below two hidden fields-->
  <!-- /footer content -->   
</div>
</div>
</div>
<script src="css/bootstrap.min.css"></script> 
<script src="js/moment/moment.min.js"></script> 
<script src="js/input_mask/jquery.inputmask.js"></script> 
<script src="js/knob/jquery.knob.min.js"></script> 
<script src="js/ion_range/ion.rangeSlider.min.js"></script> 
<script src="js/pace/pace.min.js"></script> 
<script src="js/jquery-ui.js"></script> 
<script src="js/d3.v3.min.js"></script> 
<script src="js/config.js" type="text/javascript"></script> 
<script src="js/pages/head-of-retail.js" type="text/javascript"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script src="js/custom.js"></script> 
<script type="text/javascript" src="js/addminus.js"></script> 
<script type="text/javascript" src="js/angular-route.min.js"></script> 
<!--  Required for Date picker--> 
<script src="js/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script> 
<!--  Required for Date picker--> 

<!-- input_mask --> 
<script>
    $(document).ready(function () {
      $(":input").inputmask();
      
    });
  </script> 
<!-- /input mask --> 
<!-- ion_range --> 

</script>
</body>
</html>