<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Head_of_Retail</title>
    <script src="js/Angular/angular.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/rwd1.css" rel="stylesheet">
    <link href="css/validation.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" type="text/css" href="css/angular-datepicker.css">
    <link rel="stylesheet" type="text/css" href="jslider/css/jSlider.css" />
    <script type="text/javascript" src="jslider/js/jquery.jSlider.js"></script>
  </head>

  <body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
    <div id="loader"></div>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div id="sideMenu"></div>
        </div>

        <!-- top navigation -->
        <div id="topMenu"></div>
        <!-- /top navigation --> 

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row tile_count">  
              <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12"> 
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom nav_new_box">
                  <ul class="nav nav-tabs nav_color">
                    <li class="active" ng-click="changeListng('branch', 'branchChartList')"><a data-toggle="tab" href="#tab_1" aria-expanded="true"><span class="officer_icon"><i class="fa fa-sitemap" aria-hidden="true"></i></span>
                      <div style="display: inline-block;">BRANCH</div></a></li>

                    <li ng-click="changeListng('product', 'productChartList')"><a data-toggle="tab" href="#tab_2" aria-expanded="false"><span class="product_icon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                      <div style="display: inline-block;">PRODUCT</div></a></li>

                    <li class="" ng-click="changeListng('customer', 'customerChartList')"><a data-toggle="tab" href="#tab_3" aria-expanded="false"><span class="product_icon" style="font-size:32px; vertical-align: sub;"><i class="fa fa-user" aria-hidden="true"></i></span>
                      <div style="display: inline-block;" >CUSTOMER</div></a></li>

                  </ul>
                  <div class="tab-content" style="padding-bottom: 0px;">
                    <div id="tab_1" class="tab-pane active">

                      <div class="pad_20">
                        <form method="post" action="#" class="col-md-7">
                          <div class="input-group form-horizontal">
                            <label class="pull-left control-label">from</label>
                            <div class="col-sm-4 move-bottom"> 

                              <datepicker
                                          date-format="MM/dd/yyyy"
                                          date-min-limit="1992/09/07"
                                          button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                          button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                <input ng-keyup='branchFromDate = ""' type="text" placeholder="mm/dd/yyyy" class="angular-datepicker-input form-control from-date"  ng-model="branchFromDate" ng-change="LoadPieJson(1)">
                              </datepicker>

                            </div>
                            <label class="pull-left control-label">to</label>
                            <div class="col-sm-4"> 
                              <datepicker
                                          date-format="MM/dd/yyyy"
                                          date-min-limit="{{branchFromDate}}"
                                          button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                          button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                <input ng-keyup='branchToDate = ""' type="text" placeholder="mm/dd/yyyy" class="angular-datepicker-input form-control to-date"  ng-model="branchToDate" ng-change="LoadPieJson(1)">
                              </datepicker>
                            </div>
                          </div>
                        </form>

                      </div>
                      <p style="text-align:right;">
                        <a class="btn btn-primary btn-xs push-right" href="#" id="collapseBranch" data-listcategory="Branch List">Collapse all</a>
                      </p>

                      <div class="branchChartList"></div>

                    </div>
                    <!-- /.tab-pane -->
                    <div id="tab_2" class="tab-pane"> 

                      <div class="pad_20">

                        <form method="post" action="#" class="col-md-7 textinp">
                          <div class="input-group form-horizontal">
                            <label class="pull-left control-label">from</label>
                            <div class="col-sm-4 move-bottom"> 
                              <datepicker
                                          date-format="MM/dd/yyyy"
                                          date-min-limit="1992/09/07"
                                          button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                          button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                <input ng-keyup='productFromDate = ""' type="text" placeholder="mm/dd/yyyy" class="angular-datepicker-input form-control from-date datepicker" ng-model="productFromDate" ng-change="LoadPieJson(1)">
                              </datepicker>
                            </div>
                            <label class="pull-left control-label">to</label>
                            <div class="col-sm-4"> 
                              <datepicker
                                          date-format="MM/dd/yyyy"
                                          date-min-limit="{{productFromDate}}"
                                          button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                          button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                <input ng-keyup='productToDate = ""' type="text" placeholder="mm/dd/yyyy" class="angular-datepicker-input form-control to-date datepicker" ng-model="productToDate" ng-change="LoadPieJson(1)">
                              </datepicker>
                            </div>
                          </div>
                        </form>
                      </div>
                      <p style="text-align:right;">
                        <a class="btn btn-primary btn-xs push-right" href="#" id="collapseProduct" data-listcategory="Product List">Collapse all</a>
                      </p>
                      <div class="productChartList"></div>
                    </div>
                    <!-- /.tab-pane -->
                    <div id="tab_3" class="tab-pane">

                      <div class="pad_20">                     
                        <form method="post" action="#" class="col-md-7">
                          <div class="input-group form-horizontal">
                            <label class="pull-left control-label">from</label>
                            <div class="col-sm-4 move-bottom"> 
                              <datepicker
                                          date-format="MM/dd/yyyy"
                                          date-min-limit="1992/09/07"
                                          button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                          button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                <input ng-keyup='customerFromDate = ""' type="text" placeholder="mm/dd/yyyy" class="angular-datepicker-input form-control from-date" ng-model="customerFromDate" ng-change="LoadPieJson(1)">
                              </datepicker>
                            </div>
                            <label class="pull-left control-label">TO</label>
                            <div class="col-sm-4"> 
                              <datepicker
                                          date-format="MM/dd/yyyy"
                                          date-min-limit="{{customerFromDate}}"
                                          button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                          button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                <input ng-keyup='customerToDate = ""' type="text" placeholder="mm/dd/yyyy" class="angular-datepicker-input form-control to-date" ng-model="customerToDate" ng-change="LoadPieJson(1)">
                              </datepicker>
                            </div>
                          </div>
                        </form>

                      </div>
                      <p style="text-align:right;">
                        <a class="btn btn-primary btn-xs push-right" href="#" id="collapseCustomer" data-listcategory="Customer List">Collapse all</a>
                      </p>
                      <div class="customerChartList"></div>

                    </div>
                  </div>
                  <!-- /.tab-pane --> 
                </div>
                <!-- /.tab-content --> 
              </div>
              <!-- nav-tabs-custom --> 
            </div>
          </div>
        </div>

        <!-- footer content -->
        <footer>&copy;&nbsp;Copyrights <span id="dynamicYear"></span>. <a href="#"><img src="images/logo/logo-3.PNG" alt="footer_logo"></a></footer>

        <!-- /footer content --> 

      </div>
      <!-- /page content --> 
    </div>
    </div>  
  <script src="js/jquery-ui.js"></script>
  <script src="js/d3.v3.min.js"></script>
  <script src="js/config.js" type="text/javascript"></script>
  <script src="js/pages/head-of-retail.js" type="text/javascript"></script>
  <script src="js/bootstrap.min.js"></script> 
  <script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
  <script src="js/custom.js"></script> 
  <script type="text/javascript" src="js/addminus.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="js/angular-datepicker.js"></script>
  <script>


  </script>
  </body>
</html>
