<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <!--  <title>Touch Point</title> -->
  <script src="js/Angular/angular.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/animate.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/custom-2.css" rel="stylesheet">
  <link href="css/rwd.css" rel="stylesheet">
  <link href="css/icheck/flat/green.css" rel="stylesheet">
  <script src="js/jquery.min.js"></script>
  <!--[if lt IE 9]>
<script src="../assets/js/ie8-responsive-file-warning.js"></script>
<![endif]-->
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <style>
.errormess {
	color: red;
	text-align: left;
	font-weight: bold;
}

.successmess {
	color: #008000;
	text-align: left;
	font-weight: bold;
}
</style>
<style>
    #overlay {
        background:rgba(204, 204, 204, 0.8);
        color: #666666;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5000;
        top: 0;
        left: 0;
        float: left;
        text-align: center;
        padding-top: 20%;
    }
</style>
  </head>

  <body class="login-page" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div id="overlay" style="display:none;" >
    <img  src="images/logo/loader_1.gif" alt="Loading" /><br/>   
    </div>

<div class="login-box">
    <div class="login-logo">
    <h2>{{ title }}</h2>
  </div>
    <div id="login_form" class="login-box-body">
    <form name="tpLoginForm" novalidate>
        <div class="form-group has-feedback">
        <input type="text" name="username"  ng-model="username" required placeholder="Email address" id="username" />
      </div>
        <div class="form-group has-feedback" ng-show='!SignVsForget'>
        <input type="password" name="password"   ng-model="password" required placeholder="Password" id="password" />
      </div>
        <div class="form-group has-feedback" ng-show='SignVsForget' style="visibility:hidden">
        <input type="text" />
      </div>
        <div class="row">
        <div class="col-xs-12 errormess" style="text-align:center"><span class="errormesssp">{{errormess}}</span></div>
        <div class="col-xs-12 successmess" style="text-align:center"><span class="successmesssp">{{successmess}}</span></div>
        <div class="col-xs-8">
            <div class="checkbox icheck" ng-show='!SignVsForget' style="display:none;">
            <label>
                <input type="checkbox">
                Remember Me </label>
          </div>
            <a class="forgt-pass" href="#" ng-click="signVsForgetVis()" ng-show='!SignVsForget'>I forgot my password</a> <a href="#" ng-click="signVsForgetVis()" ng-show='SignVsForget'>Click Here to Login</a> </div>
        <div class="col-xs-4">
            <button type="button" id="forgetPassword" class="btn btn-primary btn-block btn-flat" ng-click="forgetPassword()" ng-model="forgetButton" ng-show='SignVsForget'>Submit</button>
           
		   <button type="submit" id="submit_login" class="btn btn-primary btn-block btn-flat bttn-top" ng-click="authenticate()" ng-model="tpSubmit" ng-show='!SignVsForget'>Sign In</button>
          </div>
      </div>
      </form>
  </div>
  </div>
</div>

<script src="js/bootstrap.min.js" type="text/javascript"></script> 
<script src="js/pages/login.js" type="text/javascript"></script> 
<script src="js/custom.js" type="text/javascript"></script>
</body>
</html>