<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Touch Point | Manage Bank Admin</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
	<link href="css/rwd.css" rel="stylesheet">
    <link href="css/icheck/flat/green.css" rel="stylesheet">
    <link href="css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
<script src="js/Angular/angular.min.js"></script>
  
  <style>
    td:nth-child(3){
      text-transform: lowercase !important;
    }
  </style>
</head>
<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
    <div class="container body">


        <div class="main_container">
<div class="col-md-3 left_col">
		<div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 

<!-- page content -->
<div class="right_col" role="main">
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
<div class="x_title">
	<h2>Manage Employees</h2>
	<div class="DTTT_container">
<a id="ToolTables_example_0" class="DTTT_button DTTT_button_print" href="#" ng-click="addEmployee()">
<span>Add</span>
</a>
</div>
	<div class="clearfix"></div>
</div>
<div class="x_content">
<table id="example" class="table table-striped responsive-utilities jambo_table">
	<thead>
		<tr class="headings">
			<th>No</th>
			<th>Employee Name</th>
			<th>Email Id</th>
			<th>Bank Name</th>
			<th class=" no-link last"><span class="nobr">Action</span></th>
		</tr>
	</thead>
	<tbody id="employeeList"></tbody>
</table>
</div>
</div>
</div>
</div>


</div>
</div>
    <!-- footer content -->
      <footer class="manualCapitalize">
        <a href="#" style="float:left">
          <img src="images/logo/logo-3.PNG" alt="footer_logo">
        </a>
        &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
      </footer>
    <!-- /footer content --> 
</div>

<script src="js/config.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/datatables/js/jquery.dataTables.js"></script>
<script src="js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="js/nicescroll/jquery.nicescroll.min.js"></script>
<script src="js/icheck/icheck.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/pace/pace.min.js"></script>
<script src="js/pages/manage-bank-admin.js" type="text/javascript"></script>
</body>

</html>