<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Touch Point | Manage Target</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/custom-2.css" rel="stylesheet">
	<link href="css/rwd.css" rel="stylesheet">   
    <link href="css/icheck/flat/green.css" rel="stylesheet">
    <link href="css/datatables/tools/css/dataTables.tableTools.css" rel="stylesheet">
    <script src="js/jquery.min.js"></script>
    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
<script src="js/Angular/angular.min.js"></script>
  <style>
    .targetList td:nth-list(2){
      text-align: left !important;
    }
  </style>
</head>


<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
    <div class="container body">


        <div class="main_container">
<div class="col-md-3 left_col">
		<div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 

<!-- page content -->
<div class="right_col" role="main">
<div class="clearfix"></div>
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div class="x_panel">
<div class="x_title">
	<h2>Manage Targets</h2>
<div class="DTTT_container">
<a id="ToolTables_example_0" class="DTTT_button DTTT_button_print" href="target.html" ng-click="addTarget()">
<span>Add</span>
</a>
</div>


	<div class="clearfix"></div>
</div>
<div class="x_content oover">
<table id="example" class="table table-striped responsive-utilities jambo_table">
	<thead>
		<tr class="headings">
			<th>No</th>
			<th>Bank Name</th>
			<th>Branch Name</th>
			<th>Target Amount</th>
			<th class=" no-link last"><span class="nobr">Action</span></th>
		</tr>
	</thead>
	<tbody class="targetList">
	</tbody>
</table>
</div>
</div>
</div>
</div>


</div>
</div>
   <!-- footer content -->
     <footer class="manualCapitalize">
    <a class="foot-link" href="#">
      <img src="images/logo/logo-3.PNG" alt="footer_logo">
    </a>
    &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
  </footer>
    <!-- /footer content --> 
</div>

<script src="js/config.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/datatables/js/jquery.dataTables.js"></script>
<script src="js/progressbar/bootstrap-progressbar.min.js"></script>
<script src="js/nicescroll/jquery.nicescroll.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/pages/manage_target.js" type="text/javascript"></script>
  <script>
$(window).ready(function(){
  console.log('works');
  console.log($('#money').length);
});
  </script>
  <script type="text/javascript">
function delete_target(id)
{
     if(confirm('Sure To Remove This Record ?'))
     {      
	   window.location.href='delete_target.php?id='+id;  
	   alert("Record Deleted Successfully");
     }
}
</script> 
</body>
</html>