<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Touch Point | Manage Products</title>

<script src="js/Angular/angular.min.js"></script>
<script src="js/jquery.min.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="fonts/css/font-awesome.min.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
<link href="css/custom-2.css" rel="stylesheet">
<link href="css/rwd.css" rel="stylesheet">
<link href="css/validation.css" rel="stylesheet">
<!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body class="nav-md" ng-app="touchpoint" ng-controller="tpCtrl">
<div id="loader"></div>
<div class="container body">
  <div class="main_container">
   <div class="col-md-3 left_col">
		<div id="sideMenu"></div>
    </div>
    
    <!-- top navigation -->
    <div id="topMenu"></div>
    <!-- /top navigation --> 
    
    <!-- page content -->
    <div class="right_col" role="main">
      <div class="">
	  <div class="x_panel">
        <div class="page-title">
          <div class="title_left">
            <!--<h3>Manage Products</h3>-->
          </div>
  
        </div>
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            
              <div class="x_title">
                <h2>{{title}}</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content"> <br />
                <form id="demo-form2" class="form-horizontal form-label-left" novalidate name="product">
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="product-name">Product Name <span class="required">*</span> </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="product-name" required class="form-control col-md-7 col-xs-12" placeholder="Product Name" ng-model="productname" name="productname">				   
					  <span>{{errormess}}</span>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12 move-center">
					  <button type="submit" class="btn btn-success" ng-click="validateForm()" ng-disabled="product.productname.$invalid">Submit</button>
                      <button type="button" class="btn btn-primary" ng-click="manageProduct()">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /page content --> 
    </div>
  </div>
    <!-- footer content -->
 <footer class="manualCapitalize">
    <a class="foot-link" href="#">
      <img src="images/logo/logo-3.PNG" alt="footer_logo">
    </a>
    &copy;&nbsp; Copyright <span id="dynamicYear"></span> All rights reserved.
  </footer>
    <!-- /footer content --> 
</div>
<!-- Modal -->
<div id="alertModelBox" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Touchpoint</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_content">
					<div class="container-fluid">
						<div class="row">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 nopadding">
									<p>{{alertMessage}}</p>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
            </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeTempEditor">Close</button>
      </div>
    </div>
  </div>
</div>
<div data-toggle="modal" data-target="#alertModelBox" id="alertModelBoxBtn"></div>
<script src="js/config.js" type="text/javascript"></script>
<script src="js/pages/product.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script> 
<script src="js/nicescroll/jquery.nicescroll.min.js"></script> 
<script src="js/custom.js"></script> 
</body>
</html>