.skin-blue .main-header .navbar {
    background-color: #54caf2;
}
.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover {
	background:none;}
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #333333;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: rgba(0,0,0,0);
}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background: #4d4d4d none repeat scroll 0 0;
    border-left-color: #f7931e;
	color: #f7ca8f;
}
.skin-blue .sidebar-menu > li {
    border-bottom: 1px solid #181818;
	font: 14px arial;
}
.skin-blue .sidebar-menu > li.active {
    border-bottom: 0px solid #181818;
	margin-bottom: 1px;
}
.sidebar-menu small.label {
    border-radius: 100%;
    font: bold 16px arial;
    margin-top: -14px !important;
    padding: 3px 8px;
    right: 16px !important;
}
.main-header a.sidebar-toggle {
    font-size: 35px;
    padding: 10px 0 0 30px;
}
.skin-blue .sidebar a {
    color: #fff;
}
.content-wrapper, .right-side {
    background-color: #f4f4f4;
}
.main-header > .navbar {
    min-height: 70px;
}
.main-header .logo {
    height: 70px;
    line-height: 61px;
}
.main-sidebar, .left-side {
    padding-top: 70px;
}
.main-header .sidebar-toggle {
    padding: 20px;
}
.user_txt {
	float: left;
    font: bold 17px/40px Arial;
    padding-right: 20px;
}
.pad_20 {
	display: table;
    padding: 20px 20px 30px;
    text-align: center;
    width: 100%;
}
.navbar-static-top a.dropdown-toggle:hover, .navbar-static-top a.dropdown-toggle:active, .navbar-static-top a.dropdown-toggle:focus {
	background-color: transparent !important;
	cursor:default;
}
#test .arc2 {
	stroke-weight: 0.1;
	fill: #3660b0;
}
#outer {
	background: #FFFFFF;
	border-radius: 5px;
	color: #8c8c8c;
	overflow-x: hidden;
    white-space: nowrap;
	width: 540px;
	margin:0 auto;
}
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9, #div10, #div11, #div12, #div13, #div14, #div15, #div16, #div17, #div18, #div19, #div20, #div21, #div22, #div23, #div24, #div25, #div26, #div27, #div28 {
	width: 80px;
	display: inline-block;
	margin: 0 5%;
}
#div2 .arc {
	stroke-weight: 0.1;
	fill: #fbb03b;
}
#div2 .arc2 {
	stroke-weight: 0.1;
	fill: #fbb03b;
}
#div3 .arc {
	stroke-weight: 0.1;
	fill: #fbb03b;
}
.selectedRadial {
	border-radius: 3px;
	background: #f4f4f4;
	color: #000;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border: 1px solid rgba(200,200,200,0.85);
}
.radial {
	border-radius: 3px;
	background: #FFFFFF;
	color: #000;
}
.background {
	fill: #FFFFFF;
	fill-opacity: 0.01;
}
.component {
	fill: #2A80B9;
}
.component .label {
	font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
	text-anchor: middle;
	fill: #797979;
}
.arc {
	stroke-weight: 0.1;
	fill: #fbb03b;
}
.arc2 {
	stroke-weight: 0.1;
	fill: #4e8fff;
}
.label {
	font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
	text-anchor: middle;
}
.radial-svg {
	display: block;
}
.custmr_name {
    display: table-cell;
    padding-left: 20px;
    padding-top: 35px;
	font: 17px arial;
	color: #3fa9f5;
}
.progress_row {
    border-top: 1px solid #dedede;
    padding: 30px 0;
	margin: 0px -10px;
	position: relative;
}
.right_minmax {
    border: 1px solid #fa0606;
    border-radius: 100%;
    cursor: pointer;
    padding: 4px 5px 3px;
    position: absolute;
    right: 20px;
    top: 15px;
}
.right_minmax i {
    color: #ff0000;
    display: table;
    font-size: 14px;
}
.input-group.form-horizontal {
	width:100%;
}
.form-horizontal .control-label {
    color: #fbb03b;
    font: 16px arial;
}
.date_pic_cal {
	color: rgb(243, 156, 18);
    font-size: 23px;
    line-height: 31px;
    padding-left: 20px;
    position: absolute;
	cursor: pointer;
}
.cust_box_align {
	margin: 20px 0 0;
    padding-right: 25px;
}
.sparkLines {
	color: #4b4b4b;
	line-height: 13px;
}
#div21, #div22, #div23, #div24, #div25, #div26, #div27, #div28 {
	padding-bottom: 15px;
    padding-top: 15px;
    width: 41%;
	margin: 0 4%;
}
.cust_box_align .arc {
	fill: rgb(243, 156, 18);
}
#div25, #div26, #div27, #div28 {
	padding: 10px 0;
}
.bg-blue {
	background-color: #54caf2 !important;
}
.nav_color {
	background-color: #eab886;
	border-radius: 0 !important;
}
.nav_new_box {
	border: 1px solid #dedede;
	border-radius: 0;
	box-shadow: 0 0 0;
}
.form-control {
    border-color: #dedede;
}
.nav_new_box > ul > li {
	border: 0px solid #cacaca !important;
    margin-bottom: -1px !important;
    text-align: center;
    width: 33.33%;
	margin-right: 0 !important;
}
.nav_new_box li.active > a, .nav_new_box li.active:hover > a {
   /* color: #fbb03b !important;*/
}
.nav_new_box li > a {
	padding: 18px 15px !important;
	color: #fff !important;
	font: 17px arial;
}
.skin-blue .sidebar-menu > li > a {
    padding: 25px 5px 25px 18px;
	border-left-width: 4px;
}
.skin-blue .sidebar-menu > li > a > i {
    margin-right: 12px;
}
.nav_new_box > ul > li + li::before {
	background-color: #fff;
    content: "";
    height: 65%;
    left: 0;
    position: absolute;
    top: 15%;
    width: 2px;
}
.nav_new_box > ul > li.active:nth-child(1), .nav_new_box > ul > li.active:nth-child(2) {
	margin-right: -2px !important;
}
.prev_btn, .next_btn {
	height: 44px;
    left: 5%;
    position: absolute;
    top: 20%;
    width: 23px;
}
.prev_btn {
	background:url("../../dist/img/disabled_prev.png") no-repeat;
}
.next_btn {
	background:url("../../dist/img/enabled_next.png") no-repeat;
	left:auto;
	right: 5%;
}
label.pull-left.control-label {
    padding-right: 5px;
    width: 55px;
}
.reset_border {
	border: 1px solid #cacaca !important;
    border-radius: 5px;
    box-shadow: 0 0 0;
}
.border-radius-none {
	border-radius: 0 !important;
}
.text-orange {
    /*color: #f9a93a !important;*/
}
.todo-list > li {
    background: #ffdbb7 none repeat scroll 0 0;
    border-radius: 0;
    color: #534333;
    margin-bottom: 5px;
    padding: 10px 15px;
	border: 0 solid #000;
}
.todo-list > li .text {
  /*  color: #4d4d4d;*/
    font: 16px arial;
}
.chart_banker .box-header {
    padding: 10px 20px 8px;
}
.chart_banker .box-header h3 {
	font: 17px arial;
	float: left;
}
.caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed;
	margin-left: 7px;
}
.bg-light-blue {
	background-color:#3fa9f5 !important;
}
.chart_banker .badge {
    border-radius: 3px;
    min-width: 64px;
    padding: 4px 15px 5px;
}
.chart_banker .reset_border {
	border-radius: 0px !important;
}
.client_name {
    font: 17px arial;
    padding: 13px 16px 13px 22px;
    position: relative;
    width: auto;
}
.client_name:after {
	/*background: #ff931e none repeat scroll 0 0;*/
    content: "";
    height: 76%;
    position: absolute;
    right: 0;
    top: 12%;
    width: 2px;
}
.alert_right_text {
    font: 17px arial;
    padding-right: 20px;
    padding-top: 11px;
}
.text-red {
    color: #c1272d !important;
}
.alert_right_text span {
	float: left; padding-top: 3px;
}
.alert_right_text i {
	font-size: 27px; padding-left: 15px;
}
.cust_id_text {
    font: 17px arial;
    padding: 13px 11px;
}
.center_the_box {
	margin: 0px auto; float: none; display: table; font-size: 16px; margin: 35px auto 0;
}
.center_the_box .box-header, .center_the_box .box-body, .center_the_box .box-footer {
    padding: 12px 20px;
}
.custom_align_body {
	 border-bottom: 1px solid #cacaca; border-radius: 0;
}
.pop_label {
    color: #666666;
    display: inline-block;
    font: 16px arial;
    width: 115px;
}
.tick_icon {
    background:url(../../touch%20point%20logo/round.png) no-repeat 0 0 / 100% 100%;
    display: inline-block;
    height: 32px;
    margin: 0 0 -10px 20px;
    width: 32px;
}
.parent_loader {
	 display: inline-block; border: 1px solid #2A80B9; width: 65%; height: 20px; margin: 0px 0px -4px 20px; position: relative;
}
.child_loader {
	 height: 100%; background: #2A80B9; display: table; width: 75%;
}
.loader_text {
	 position: absolute; font: 17px arial; right: 12px; top: 0;
}
.ul_timeline {
	display: table;
    margin: 25px 0 10px;
    padding: 0;
    text-align: center;
	white-space:nowrap;
    width: 100%;
}
.day_list_timeline:first-child {
    margin-left: 0;
}
.day_list_timeline {
   /* background-color: #54caf2;*/
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 68px;
    list-style: outside none none;
    margin-left: 33px;
	font: 17px arial;
    text-align: center;
	position: relative;
    width: 68px;
	line-height: 18px;
    padding-top: 17px;
}
.day_list_timeline::before {
    /*background-color: #0470b9;*/
    content: "";
    height: 2px;
    left: -36px;
    position: absolute;
    top: 50%;
    width: 36px;
}
.timeline_active {
	/*background-color: #fff;*/
    color: #54caf2;
	border: 1px solid #0095db;
}
.timeline_active::before {
	left: -37px;
}
.day_list_timeline:first-child::before {
	display:none;
}
.timeline_prev, .timeline_next {
   /* background: rgba(0, 0, 0, 0) url("../../dist/img/timeline_prev.png") no-repeat scroll 0 0;*/
    height: 29px;
    left: -25px;
    position: absolute;
    top: 37%;
    width: 17px;
}
.timeline_next {
	left: auto;
	right: -25px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.prof_icon {
    padding-right: 10px;
}
.full_width {
	width: 100%;
	position: relative;
}
.full_width input {
	padding-right: 30px;
}
.full_width i {
    color: #ddd;
    font-size: 22px;
    position: absolute;
    right: 10px;
    top: 5px;
	cursor: pointer;
    z-index: 2;
}
.left_li_icon {
    float: left;
    height: 26px;
    margin-right: 20px;
    margin-top: -5px;
    width: 29px;
	background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0 / 100% 100%; 
}
.dashboard_icon {
	background-image: url("../../dist/img/dashboard_icon_active.png");
}
.calendar_icon {
	background-image: url("../../dist/img/calender_icon.png");
}
.messages_icon {
	background-image: url("../../dist/img/messages_icon.png");
}
.sidebar-menu li:hover .dashboard_icon {
	background-image: url("../../dist/img/dashboard_icon_active.png");
}
.sidebar-menu li:hover .calendar_icon {
	background-image: url("../../dist/img/calender_icon_active.png");
}
.sidebar-menu li:hover .messages_icon {
	background-image: url("../../dist/img/messages_icon_active.png");
}
.nav_color li a > span {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0 / 100% 100%;
    display: inline-block;
    height: 29px;
    margin: -6px 8px -8px -5px;
    width: 38px;
}
.nav_color li a .officer_icon {
	background-image: url("../../dist/img/officer_icon.png");
}
.nav_color li a .date_icon {
	background-image: url("../../dist/img/date_icon.png");
}
.nav_color li a .product_icon {
	background-image: url("../../dist/img/product_icon.png");
}
.nav_color li.active a .officer_icon {
	background-image: url("../../dist/img/officer_icon_active.png");
}
.nav_color li.active a .date_icon {
	background-image: url("../../dist/img/date_icon_active.png");
}
.nav_color li.active a .product_icon {
	background-image: url("../../dist/img/product_icon_active.png");
}
body.sidebar-collapse .left_li_icon {
	margin-left: -10px;
    margin-top: -12px;
}
.text_grey_color {
	color: #666666;
    font: 16px arial;
}
.center_the_box h3.box-title {
	font: 17px arial;
}
.margintop_25 {
	margin-top: 25px;
}
div.user_txt, .width_767 {
	display:none;
}
@media (max-width:1200px) {.bot_widgets { width: 100%; }}
@media screen and (min-width:768px) and (max-width:1200px) {
.col-sm-4.date_range {width: 25%;}
form.col-md-5.pull-right {margin-top: 25px; width: 100%;}
.nav_new_box form.col-md-6 {width: 100%;}
.progress_row {	padding:0;}
.progress_row .col-xs-2 {padding-left: 23%; width: 100%;}
.progress_row .custmr_name { padding-bottom: 20px; padding-left: 0; padding-top: 21px;}
.progress_row .col-xs-9 {padding-bottom: 25px; width: 100%;}
.progress_row #outer { margin: 0 auto; width: 529px;}
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 , #div10 , #div11 , #div12 , #div13 , #div14 , #div15 , #div16 , #div17 , #div18 , #div19 , #div20  {	margin:0 25px; }
}
@media (max-width:980px) {
.timeline_width767 .day_list_timeline::before {	display:none;}
.day_list_timeline { font: 14px/15px arial; height: 50px; margin-left: 15px; padding-top: 12px; width: 50px;}
.alert_right_text span { float: right; padding-right: 2%; padding-top: 5px;}
.alert_right_text {	padding: 15px; width: 100%;}
.width_767 {display:table;}
.cust_id_name .alert_right_text {display:none;}
.cust_id_name {	padding:0;}
.cust_id_name .client_name::after {	display:none;}
.cust_id_name .cust_id_text {float:right !important;padding: 13px 20px 13px 0;}
.nav_color li a > div { font-size: 14px;}
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 , #div10 , #div11 , #div12 , #div13 , #div14 , #div15 , #div16 , #div17 , #div18 , #div19 , #div20  {	margin:0 10px; }
.progress_row #outer { width: 408px;}
}
@media (max-width:830px) {.progress_row #outer { width: 369px;}#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 , #div10 , #div11 , #div12 , #div13 , #div14 , #div15 , #div16 , #div17 , #div18 , #div19 , #div20  {	margin:0 5px; }}
@media (max-width:767px) {
.chart svg {display:none;}
.content.chart_banker {	width: 100%;padding: 15px 0;}
body.sidebar-open aside.main-sidebar { padding-top: 140px !important;}
div.user_txt {color: #fff; display: block; left: 0; margin: auto; overflow: hidden; padding-right: 0; padding-top: 15px; position: absolute; right: 0; text-align: center; text-overflow: ellipsis; white-space: nowrap; width: 45%;}
.client_view {	padding: 0px;}
.bot_widgets {	padding: 0 2px; width: 100%; margin-top: 5px;}
.bot_widgets .reset_border { border-radius: 0;margin-bottom: 15px;}
.cust_id_name .reset_border {border: 0px solid #cacaca !important; border-bottom: 1px solid #cacaca !important; padding: 6px 0; border-radius: 0;	margin-bottom:10px;}
.timeline_width767 {margin-bottom: 25px;width: 80%;}
.timeline_width767 .day_list_timeline::before {	display:none;}
.day_list_timeline { font: 12px/15px arial; height: 48px; margin-left: 28px; padding-top: 11px; width: 48px;}
#div1 svg, #div2 svg, #div3 svg, #div4 svg, #div5 svg, #div6 svg, #div7 svg, #div8 svg, #div9 svg, #div10 svg, #div11 svg, #div12 svg, #div13 svg, #div14 svg, #div15 svg, #div16 svg, #div17 svg, #div18 svg, #div19 svg, #div20 svg {width: 63px !important;	height: 67px !important;}
#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 , #div10 , #div11 , #div12 , #div13 , #div14 , #div15 , #div16 , #div17 , #div18 , #div19 , #div20  {margin:0 15px;}
.sparkLines {font-size:13px;}
.banker_767 { display: table; margin-top: 30px; padding: 0; width: 100%;}
.banker_767 > div {	padding: 0 5px;}
.banker_767 > div > .nav_new_box {margin-bottom: 5px;}
.right_minmax {	display:none;}
.progress_row {	padding:0;}
.progress_row .col-xs-2 {padding-left: 23%; width: 100%;}
.progress_row .custmr_name { padding-bottom: 20px; padding-left: 0; padding-top: 21px;}
.progress_row .col-xs-9 {padding-bottom: 25px; width: 100%;}
.progress_row #outer { margin: 0 auto; width: 450px;}
label.pull-left.control-label {	padding-right: 0px; padding-top: 6px; text-align: right;}
form.col-md-5.pull-right {margin-top: 23px; width: 100%;}
.date_range {float: left; width: 30%;}
.prev_btn, .next_btn {top: 7%;}
}
@media (max-width:640px) { .day_list_timeline { margin-left: 13px; } .timeline_width767 { width: 87%; } .progress_row #outer { width: 75%;} #div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 , #div10 , #div11 , #div12 , #div13 , #div14 , #div15 , #div16 , #div17 , #div18 , #div19 , #div20  {	margin:0 5px; } .progress_row #outer { width: 363px; }}
@media (max-width:480px) { .user_txt { font: bold 15px/40px Arial; } .alert_right_text span { font-size: 13px; } .alert_right_text i { padding-left: 0px; } .pop_label { font: 12px arial; width: 55px; } .loader_text { font: 12px arial; right: 6px; top: 2px; } .day_list_timeline { margin-left: 5px; } .timeline_width767 { width: 100%; } .timeline_prev { left:5px; } .timeline_next { right: 5px; } .nav_color li a > div { display: none !important; }  .progress_row #outer { width: 282px; }.date_range { margin-bottom: 20px; width: 70%;}.date_range:last-child { margin-bottom: 0;}}
@media (max-width:415px) { .minWidth_415{ min-width:415px; overflow-x:auto; } .date_range { width: 68%;} }
@media (max-width:390px) {.progress_row #outer { width: 175px;}}