@charset "utf-8";
/* elite CSS Document */
/* MY CSS Document */

/* common class */
*{margin:0; padding:0; box-sizing:border-box;}
body{background:#fff;}
a, a:hover, a:visited, a:active, a:link {outline:0 none; text-decoration:none; color:inherit;}
p{margin:0; padding:0; font-size:12px;}
ol,ul{margin:0; text-decoration:none;}
.container.dis_padding{overflow:hidden; padding:0;}

/* constant class */
.f_l{float:left;}
.f_r{float:right;}
.full_width{width:100%; background-size:100%;}
.bg_none{background:none !important;}
.cntr_container{margin:0 auto; width:70%;}
.dis_margin{margin:0 !important;}
.dis_padding{padding:0;}
.dis_color{color:inherit;}
.dis-none{display:none;}
.add_mrgn_top{margin-top:25px;}
.add_mrgn_rght{margin-right:25px;}
.add_mrgn_btm{margin-bottom:25px;}
.add_mrgn_lft{margin-left:25px;}
.add_pdng_top{padding-top:25px;}
.add_pdng_rght{padding-right:25px;}
.add_pdng_btm{padding-bottom:25px;}
.add_pdng_lft{padding-left:25px;}
/* close common class*/

/*adminlte customize*/

/*adminlte customize*/

/* custom class*/
header{background:#014A7F; height:auto; padding:10px 0;}
.logo {
    margin: 0;
    padding: 0;
    width: auto;
}
/* Touchpoint Login Page Design Starts here */





.navbar-nav > li {
    float: left;
    padding-right: 15px;
}
.navbar-nav > li + li {
	border-left:1px solid #fff;
	padding-left: 15px;
}
nav.pull-right {
    margin-right: 1%;
	margin-top: 28px;
}
.navbar-nav > li > a > i {
    margin-right: 5px;
}
.navbar-nav > li > a {
    color: #fff;
    font: 14px arial;
    padding: 0;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
	background:transparent;
}
footer {
    background: none repeat scroll 0 0 #770e24;
    bottom: 0;
    color: #fff;
    font: 13px/38px arial;
    height: 38px;
    left: 0;
    padding-right: 2%;
    text-align: right;
    width: 100%;
}
.login-box {
	position: relative;
	/*background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 0 15px 1px #e3e3e3;
	-moz-box-shadow: 0 0 15px 1px #e3e3e3;
	-ms-box-shadow: 0 0 15px 1px #e3e3e3;
	-o-box-shadow: 0 0 15px 1px #e3e3e3;
	box-shadow: 0 0 15px 1px #e3e3e3;
	border: 1px solid #c4c6ca;
	padding: 25px 20px;
}
.login-box:after {
	position:absolute;
	width:100%;
	height:3px;
	background:#80A4BF;
	bottom:0;
	left:0;
	content: "";
}
.login-logo h2 {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 8px 0 10px;
	position: relative;
}
.login-logo h2:before,
.login-logo h2:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
.login-logo h2:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
.login-logo h2:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#login_form .form-group input[type="text"],
#login_form .form-group input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #fefbfb url(../touch%20point%20logo/login_icons.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 14px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 100%;
}
#login_form .form-group input[type="text"]:focus,
#login_form .form-group input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #1090D2 inset;
	-moz-box-shadow: 0 0 2px #1090D2 inset;
	-ms-box-shadow: 0 0 2px #1090D2 inset;
	-o-box-shadow: 0 0 2px #1090D2 inset;
	box-shadow: 0 0 2px #1090D2 inset;
	background-color: #fff;
	border: 1px solid #1090D2;
	outline: none;
}
#username { background-position: 10px 12px !important }
#password { background-position: 10px -51px !important }
#login_form .form-group input[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: left;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 0 35px 15px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#login_form .form-group input[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#login_form .form-group {
    margin-bottom: 10px;
}
.banker_section {
	width:90%;
	margin-top: 15px;
	padding-bottom: 40px;
}
.prof_img {
    border: 2px solid #770e24;
    border-radius: 100%;
    padding: 4px;
}
.profile_block span {
    color: #770e24;
    font: 22px Arial;
    margin-right: 20px;
}
.maroon_color {
	color:#770e24;
}
.mar_top24 {
    float: left;
    margin-top: 24px;
    width: 50%;
}
.mar_left10 {
	margin-left:10px;
}
.btn-default {
    border-color: #adadad;
}
.horizontal_accordion {
	float:left;
	width:100%;
	margin-top: 27px;
}
.accordion_slide {
	float:left;
	height:460px;
	width: 40px;
}
.accord_leftbar {
	float:left;
	width:100%;
	height:100%;
	background:#cecbcb;
	color:#8d8c8c;
	font: 18px arial;
	position: relative;
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,.15);
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0,.15);
	box-shadow: inset 0 0 20px rgba(0,0,0,.15);
	cursor:pointer;
}
.accord_leftbar span {
    bottom: 0;
    height: 25px;
    left: -102px;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transform: rotate(-90deg);
    width: 250px;
}
.accord_content {
    background: none repeat scroll 0 0 #eeeee8;
    float: left;
    height: 100%;
    width: 0;
	overflow:hidden;
}
.accord_active {
	width: calc(100% - 168px);
	width: -webkit-calc(100% - 168px);
	width: -moz-calc(100% - 168px);
}
.accord_active .accord_leftbar {
	background:#770e24;
	color:#fff;
	width:40px;
}
.accordion_slide + .accordion_slide {
    margin-left: 2px;
}
.accord_active .accord_content {
	padding: 1.5%;
	width: calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	overflow-y:auto;
	border: 2px solid #770e24;
}
.banker_name {
    color: #770e24;
    float: left;
    font: 15px arial;
    padding-left: 4px;
    padding-top: 22px;
	text-overflow: ellipsis;
    white-space: nowrap;
    width: 110px;
	overflow:hidden;
}
.circle {
	width:55px;
	height:55px;
	border-radius:50%;
	background:#202020;
	display: block;
	color:#fff;
	font:bold 18px/55px arial;
	text-align:center;
	margin: 0 auto;
}
.accord_row {
	box-shadow: 0 1px 1px #dfdfdf;
    float: left;
    padding: 2% 0;
	width:100%;
	border-bottom:1px solid #e3e3e3;
}
.accord_row:first-child {
	padding-top: 0.5%;
}
.circle_bot_text {
    display: block;
    text-align: center;
	font: 14px arial;
    padding-top: 7px;
}
.red {background-color:#ff0000;}
.green {background-color:#23bb55;}
.yellow {background-color:#ffc000;}
.skyblue {background-color:#40ddf9;}
.profile_block .font_black {color:#000;}
.filter_by {
    float: left;
    line-height: 31px;
}
.accord_prof_img {
    border: 2px solid #fff;
    box-shadow: 0 0 3px 1px #d0d0d0;
    height: 30px;
    margin-right: 5px;
    width: 30px;
	height: 30px;
    margin-top: 18px;
	float:left;
}
nav.pull-right ul {margin:0 !important;}
@media (max-width: 500px) {
/*.profile_block.pull-left { padding-bottom:15px; }
.screen_fixing {margin-bottom: 15px;}
.accord_leftbar span {left: -111px;}
.accord_leftbar {font: 12px arial;}*/
}
@media (max-width: 980px) {
/*.mar_top24 {width:100%;}*/
}
@media (max-width: 1000px) {
/*.accord_leftbar {font: 12px arial;}
.col-md-2 {float: left; width: 16%;}*/
}
footer .pull-left img { margin-left: 10px; }
.screen_fixing .back_trans, .screen_fixing .back_trans:focus .screen_fixing .back_trans:active {background:transparent !important; cursor:default; box-shadow: 0 0 0 !important; outline:0 none !important;}
.prod_icon {
    float: left;
    font-size: 20px;
    padding-top: 21px;
}
.accord_content .col-md-2 {width: 16.5%;padding-left: 5px;padding-right: 5px;}
.users-list > li > img {
    width: 60%;
}
.users-list-name {
  font-weight: 500;
}
.horizontal_accordion .box.box-danger {
	border:1px solid #770e24;
	border-top: 3px solid #770e24;
	border-radius:0;
}
.horizontal_accordion .box-footer {
    background-color: #770e24;
	border-radius:0;
}
.horizontal_accordion .box-footer a {
	color:#fff;
}
.users-list > li {
    width: 33%;
}
.badge.bg-yellow {
	margin: -5px 0 0 5px;
    padding: 3px 5px;
	float: right;
}
#bank_manager_sect .accord_active .accord_leftbar, #bank_manager_sect .accordion_slide {
    width: 50px;
}
#bank_manager_sect .accord_active {
    width: calc(100% - 104px);
	width: -webkit-calc(100% - 104px);
	width: -moz-calc(100% - 104px);
}
#bank_manager_sect .accord_active .accord_content {
	width: calc(100% - 50px);
	width: -webkit-calc(100% - 50px);
	width: -moz-calc(100% - 50px);
}
#bank_manager_sect .accord_leftbar span {
    left: -97px;
}
.accordion_slide .box-header {
    padding: 5px 10px;
}
.mar_bot10 {
	margin-bottom:10px;
}
.accord_content .box.box-danger {
	float:left;
}
.btn-primary {
	background-color: #1090D2;
	border-color: #1090D2; 
}	
.btn-primary:hover{
	background-color: #3598DB;
	border-color: #3598DB; 
	transition:ease-out 1s;
}
.btn-primary:active{
	background-color: #1090D2;
}
.login-box-body {
    padding: 5px 10px;
}
.row {
    margin: 0;
    padding: 0 0 0 21px;
}
.col-xs-8 {
    padding: 0;
}
.col-xs-4 {
    padding-right: 0;
}	


/* custom class*/
footer{background:#014A7F; position:fixed; font-size:16px;}
/* color themes */
.add_color{background:#2C3E50; /*background:#014A7F;*/ /*background:#065C75;*/ /*background:#253D59;*//* background:#014A7F;*/}
.add_btn_color,.btn-primary{background:#2A80B9; outline:none; border-color: #2A80B9;  color:#ffffff;}
/* color themes */


/* dash board css start here*/
.main-header{background:#2D3E50; padding:0;}
.bg_none.logo{margin: 12px 0 0; padding: 0;}
nav{background:#2A80B9 !important;}
.sidebar-toggle{padding:16px;}
.navbar-custom-menu{margin-top:15px;}
.main-sidebar, .left-side{padding-top:70px;}
.main-header .logo{padding:0;}
.add_alt{width:20px; height:20px; background:#0F6;}
.main-sidebar{background:#2D3E50 !important;}
.content-header{display:none;}
.content.chart_banker{background:#ECF0F1;}
.box-body.border-radius-none.bg-blue { background: #3598db none repeat scroll 0 0 !important;}
.todo-list.ui-sortable > li{color:#ffffff; background:#3598DB;}

/* dash board css stop here */

/* client view css stop here */
.day_list_timeline::before{background:#2D3E50;}
.day_list_timeline{background:#2A80B9;}
.timeline_active{background:#ffffff;}
.timeline_prev, .timeline_next {background:url(../dist/img/left-1.png) no-repeat 100% 100%; width:25px; height:40px;}
.fa.fa-warning{color:#2A80B9;}
.alert_right_text span{color:#E84C3D;}
.client_name:after {background:#E84C3D;}
.text-orange {color:#E84C3D !important;}
/* client view css stop here */

/*branch view css document*/
.skin-blue .main-header .navbar{ background:#2A80B9;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{ background:#101f32 none repeat scroll 0 0;}
.main-sidebar{ background:#2d3e50 none repeat scroll 0 0 !important;}
.component{ fill:#2a80b9;}
.nav_color{ background:#e84c3d;}
.prev_btn {background:url(../dist/img/left-1.png) no-repeat;}
.next_btn {
	background:url(../dist/img/right-1.png) no-repeat;}
	.custmr_name{ color:#2a80b9;}
	.form-horizontal .control-label{ color:#e84c3d;}
	.nav_color li.active a .officer_icon{background-image:url(../dist/img/model-1/officer_icon_active.png);}
	.nav_color li.active a .date_icon {background-image: url(../dist/img/model-1/date_icon_active.png);}
	.nav_color li.active a .product_icon {background-image: url(../dist/img/model-1/product_icon_active.png);
}
	.nav_new_box li.active > a, .nav_new_box li.active:hover > a{ color:#e84c3d !important;}
	.row.progress_row {
    padding: 30px 10px;
}
/*branch view css document*/
/*banker view css doucument*/

.prev_btn {background:url(../dist/img/left-1.png) no-repeat;}
.next_btn {
	background:url(../dist/img/right-1.png) no-repeat;}
	.selected {
    display: none;
}
/*banker view css doucument*/